{% extends 'main/base.html' %}
{% load static %}

<title>
    {% block title %}Profile {% endblock %}
</title>

{% block content %}

<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-9 col-xl-7">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row" style="background-color: rgb(210, 244, 181); height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <img src="{{user.profile.avatar.url}}"
                  alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                  style="width: 150px; z-index: 1">

                {% if request.user.is_authenticated and request.user.id == user.id %}
                 <button type="button" class="btn btn-outline-dark bg-dark " data-mdb-ripple-color="light" style="z-index: 1;">
                  <a style="text-decoration: none ;color:white " href="{% url 'accounts:update_user_view'%}"> Edit profile</a>
                </button>
                {% endif %}

              </div>

<!-- user info -->
              <div class="ms-3" style="color:black; margin-top: 130px;">
                <h4>{{ user.first_name }} {{ user.last_name }} </h4>
                <p>@{{ user.username }} | Member since {{ user.profile.join_date }}
                </p>
              </div>
              
            </div>
            <div class="card-body p-4 text-black">

 <!-- user description -->
              <div class="mb-5">
                <p class="lead fw-normal mb-1">About</p>
                <div class="p-4" style="background-color: #f8f9fa;">
                  <p class="font-italic mb-1"> {{ user.profile.about }} </p>
                </div>
              </div>
            
<!-- show contact info-->
                <div class="mb-5">
                  <p class="lead fw-normal mb-1">Contact information </p>
                  <div class="p-4" style="background-color: #f8f9fa;">
                    <a  href="mailto:{{user.email}}" ><span class="material-icons">email</span></a>
                    <a href="{{user.profile.insta_link }}" style="font-size:24px"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>

<!-- show user recipes -->
                <div class="mb-5">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0">{{ user.first_name }}'s Recipes</p>
                <p class="mb-0"><a href=" {% url 'accounts:user_recipes_view' %} " class="text-muted">Show all</a></p>
              </div>
              <!-- <div class="p-4" style="background-color: #f8f9fa;">
              <div class="row g-2">
                <div class="col mb-2">
                  <img src="{{ user.recipe.picture.url }}" class="w-100 rounded-3">
                </div>
              </div>
            </div> -->
                </div>

<!-- show user favoraites -->
<div class="mb-5">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <p class="lead fw-normal mb-0">Recent Saved</p>
              <p class="mb-0"><a href="{% url 'favorites:my_favorites_view' %}" class="text-muted">Show all</a></p>
            </div>
            <!-- <div class="p-4" style="background-color: #f8f9fa;">
            <div class="row g-2">
              <div class="col mb-2">
                <img src="{}" class="w-100 rounded-3">
              </div>
            </div>
          </div> -->
          </div>




            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    {%endblock%}