{% extends 'evalhub/base.html' %}

{% block title %} Add New Movie {% endblock %}

{% block content %}

<section class="container">

    <h1>Add new Task</h1>

    <div class="row">

        {% if msg %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
        </div>
        {% endif %}

        <div class="col-6">
            <!-- form for submitting the data -->
            <form action="{% url 'evalhub:add_task_view' %}" method="POST" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                {% csrf_token %}
                <label>Task Title:</label>
                <input class="form-control" type="text" name="title" placeholder="Task Title" required minlength="4" />

                <label> Task Description:</label>
                <textarea class="form-control" name="description" required></textarea>

                <label>Employee list:</label>

                {% for key, value in user.manager_of %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="status" id="{{key}}" value="{{value}}" required>
                        <label class="form-check-label" for="{{key}}">
                        {{value}}
                        </label>
                    </div>
                {% endfor %}
                
                <label>Task Due Date:</label>
                <input class="form-control" name="due_date" type="date" required/>

                <input class="btn btn-primary" type="submit" value=" Assign Task" />
            </form>

        </div>

    </div>

</section>

{% endblock %}