{% extends 'evalhub/base.html' %}
{% load static %}

{% block title %}Task List{% endblock %}

{% block content %}
  <h2>Task List</h2>

  {% if tasks %}
    <ul>
      {% for task in tasks %}
        <li><a href="{% url 'task_detail' task.id %}">{{ task.title }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No tasks available.</p>
  {% endif %}


  {% for key, value in status.choices %}
  <div class="form-check">
      <input class="form-check-input" type="radio" name="status" id="{{key}}" value="{{value}}" required>
      <label class="form-check-label" for="{{key}}">
      {{value}}
      </label>
  </div>
{% endfor %}
{% endblock %}