{% extends 'evalhub/base.html' %}
{% load static %}

{% block title %}Task List{% endblock %}

{% block content %}

<div class="container">

    <div class="row mt-3">
        <div class="col-12 col-md-6 order-2 order-md-1">
            <div class="d-flex flex-column gap-2 h-100 justify-content-center align-items-start">
                <h2>Welcome {{ request.user.first_name }} {{ request.user.last_name }}</h2>
                <p>Miles Morales catapults across the Multiverse, where he encounters a team of Spider-People charged with protecting its very existence. When the heroes clash </p>
            </div>
        </div>
    </div>

    <hr />

    <a class="text-decoration-none text-black" href="{% url 'evalhub:task_list' %}">
        <div class="d-flex mt-5 justify-content-between align-items-center">
            <h2>Tasks You Asigned to employees </h2>
            <span class="material-symbols-outlined">arrow_forward</span>
        </div>
    </a>

    <div class="row row-cols-1 row-cols-md-4 mt-3">

        {% for task in as_e_tasks %}
        <div class="col">
            <div class="movie-card d-flex flex-column gap-2 p-0 border border-1 rounded-4 shadow h-100 overflow-hidden justify-content-start">
                <div class="p-3 d-flex justify-content-between align-items-center">
                    <div class="d-flex gap-1">
                        <span class="releae ps-3 pe-3 bg-secondary rounded-pill text-white">{{ task.due_date }}</span>
                        <span class="cat ps-3 pe-3 rounded-pill text-white {{task.status}}"><a class="text-decoration-none text-white" href="{% url 'evalhub:task_detail' task.id %}">{{task.status}}</a></span>

                    </div>
                </div>
                <div class="p-3 d-flex flex-column">
                    <a class=" text-decoration-none" href="{% url 'evalhub:task_detail' task.id %}"><h2>{{ task.title }}</h2></a>

                </div>
            </div>
        </div>
        {% endfor %}


    </div>


    <a class="text-decoration-none text-black" href="{% url 'evalhub:task_list' %}">
        <div class="d-flex mt-5 justify-content-between align-items-center">
            <h2>Tasks You are rquired to do by your manager </h2>
            <span class="material-symbols-outlined">arrow_forward</span>
        </div>
    </a>

    <div class="row row-cols-1 row-cols-md-4 mt-3">

        {% for task in as_m_tasks %}
        <div class="col">
            <div class="movie-card d-flex flex-column gap-2 p-0 border border-1 rounded-4 shadow h-100 overflow-hidden justify-content-start">
                <div class="p-3 d-flex justify-content-between align-items-center">
                    <div class="d-flex gap-1">
                        <span class="releae ps-3 pe-3 bg-secondary rounded-pill text-white">{{ task.due_date }}</span>
                        <span class="cat ps-3 pe-3 rounded-pill text-white {{task.status}}"><a class="text-decoration-none text-white" href="{% url 'evalhub:task_detail' task.id %}">{{task.status}}</a></span>

                    </div>
                </div>
                <div class="p-3 d-flex flex-column">
                    <a class=" text-decoration-none" href="{% url 'evalhub:task_detail' task.id %}"><h2>{{ task.title }}</h2></a>

                </div>
            </div>
        </div>
        {% endfor %}


    </div>
</div>

{% endblock %}