.hehe{
    background-image:url('/static/images/color-background.jpg');
    background-size: cover;

}


.barcode{
    height: 10px;
}


.box-prof{
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    border-color: blueviolet;
}
