{% extends 'home/base.html' %}

{% block tittle %}
<title> view service I request</title>
{% endblock %}


{% block body %}
{% if massage %}
<div class="alert alert-danger" role="alert">
    {{massage}}
</div>
{% endif %}
<div class="container">
    
    <div class="row d-flex gap-2">
        <h1>Service History</h1>
        <div class="col-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Service</th>
                    <th scope="col">Private Endpoint</th>
                    <th scope="col">Public Endpoint</th>
                    <th scope="col">PrivateIP</th>
                    <th scope="col">PublicIP </th>
                    <th scope="col">ElasticIP </th>
                    <th scope="col">Platform </th>
                    <th scope="col">Life cycle </th>
                    <th scope="col">High Availability </th>
                    <th scope="col">Created At </th>
                    <th scope="col">Status </th>
                    <th scope="col">other</th>
                  </tr>
                </thead>
                {% for show in show_serivces %}
                <tbody>
                  <tr>
                    <th scope="row">{{show.service.service_name}}</th>
                    <td>{{show.private_endpoint}}</td>
                    <td>{{show.public_endpoint}}</td>
                    <td>{{show.private_ip}}</td>
                    <td>{{show.public_ip}}</td>
                    <td>{{show.elastic_ip}}</td>
                    <td>{{show.platfrom}}</td>
                    <td>{{show.life_cycle}}</td>
                    <td>{{show.high_availability}}</td>
                    <td>{{show.created_at}}</td>
                    <td>{{show.status}}</td>
                    <td>
                        <lu class="dropdown me-4 text-decoration-none black">
                            <a class="dropdown-toggle text-decoration-none block" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            more
                            </a>
                            <ul class="dropdown-menu">
                            <li><a class="dropdown-item w-50" href="{% url 'services:edit_service_view' show.id %}">Show Request Detils</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item text-danger" href="{% url 'services:delete_reqeust_view' show.id %}">Delete</a></li>
                            </ul>
                      </lu></td>
                  </tr>
                </tbody>
                {% endfor %}
              </table>
        </div>
    </div>
    
</div>
{% endblock %}