<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'Art:art_home_view' %}">Art</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'Art:art_home_view' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'Art:add_art_view'%}">Add art</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 
                </a>
                
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Link</a>
              </li>

              {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <div class="d-flex align-items-center">
                    <img class="rounded-circle avatar" src="{{ request.user.profile.avatar.url }}" />
                    <a class="nav-link m-0" href="{% url 'accounts:user_profile_view'  request.user.id %}"> {{ request.user.username }}</a>
                  </div>

                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'favorites:my_favorites_view' %}" >Favorites</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'accounts:logout_user_view' %}" >Log out</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'accounts:login_user_view' %}" >Sign in</a>
                </li>
              {% endif %}
            </ul>
            <form  role="search" action="{% url 'Art:search_results_view' %}" method="get">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </div>

<!-- Content -->
<div class="wrapper">
      
    {% block content %}

    {% endblock %}

    </div>

    <!-- End Content -->



<!--footer-->
<footer class="bg-dark p-2 text-center">
    <div class="container">
    <p class="text-white">   All Right Reserved At Art Website </p>
    </div>
    
  </footer>
          
        </div>

  </body>