{% extends 'main/base.html' %}

{% block title %} Add New Event {% endblock %}

{% block content %}

<section class="container">

    <h1>Add new Event</h1>

    <div class="row">

        <div class="col-6">
            <!-- form for submitting the data -->

            <form action="{% url 'events:add_event_view' %}" method="POST">
                {% csrf_token %}
                <label>Event title:</label>
                <input class="form-control" type="text" name="title" placeholder="Event title" />

                <label>Event description:</label>
                <textarea class="form-control" name="description"></textarea>
                <label>Category</label>

                {% for key, value in categories.choices %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" id="{{key}}" value="{{value}}">
                        <label class="form-check-label" for="{{key}}">
                        {{value}}
                        </label>
                    </div>
                {% endfor %}
                <label>Event Posting Date:</label>
                <input class="form-control" name="release_date" type="date" />

                <label>Event image:</label>
                <input type="file" name="image"  class="form-control" accept="image/*"/>
                <input class="btn btn-primary" type="submit" value="Create Event" />
            </form>

        </div>

    </div>

</section>

{% endblock %}