{% extends 'main/base.html' %}

{% block title %} Art Events {% endblock %}

{% block content %}

<div class="container m-5 p-5">
    <div class="row">
        <div class="col">
            <h1>Art Events</h1>
            {% for art_event in art_events %}
                <img src="{{art_event.image.url}}" class="card-img-top h-50" alt="Art Event image">
                <h1>{{ art_event.title}}</h1>
                <h2>{{ art_event.content }}</h2>
                <h3>{{ art_event.posting_date }}</h3>
                <h4>{{ art_event.category }}</h4>
                <div class="btn-group">
                    <button type="button" class="btn  btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Edit event
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'events:update_event_view' art_event.id %}">Update event</a></li>
                        <li><a class="dropdown-item" href="{% url 'events:delete_event_view' art_event.id %}">Delete event</a></li>
                    </ul>
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <h5>Book Your Tickets Now!</h5>
                    <div class="warpper border border-secondary text-center">
                        <h6>Quantity</h6>
                        <span class="minus">-</span>
                        <span class="num">1</span>
                        <span class="plus">+</span>
                    </div>
                    <button class="btn btn-primary" type="button">Book</button>
                  </div>

            {% endfor %}

        </div>

    </div>

</div>


{% endblock %}