
{% extends 'main/base.html' %}

{% block title %} Home Events {% endblock %}

{% block content %}

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            {% for event in events %}
              <img src="{{event.image.url}}" class="card-img-top" alt="Event image">
              <div class="card-body">
                <a href="{% url 'events:event_details_view' event.id %}" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><h5>{{ event.title }}</h5></a>
                <h5 class="card-title">{{ event.title }}</h5>
                <h5>{{ event.content }}</h5>
                <h5>{{ event.posting_date }}</h5>
                <h6>{{ event.category }}</h6>
              </div>
            {% endfor %}
          </div>
        </div>
</div>

{% endblock %}
