
{% extends 'main/base.html' %}

{% block title %} Home Events {% endblock %}

{% block content %}

<div class="d-flex justify-content-between text-center">
  <h1 class="display-3 mt-3 p-3">
    All Events
    </h1>
  <div class="dropdown mt-5 p-3">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Order by
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'events:new_events_view' %}">New Events</a></li>
      <li><a class="dropdown-item" href="{% url 'events:old_events_view' %}">Old Events</a></li>
    </ul>
  </div>
</div>

  
  <hr/>

<div class="box m-5">
  <div class="row">
    {% for event in events %}
    <div class="col-3">
      <div class="card" style="width: 19rem; height: 27rem">
        <img src="{{event.image.url}}" class="card-img-top" style="width: 19rem; height: 25rem" alt="...">
        <div class="card-body">
          <a href="{% url 'events:event_details_view' event.id %}" class="card-title link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><h5>{{ event.title }}</h5></a>
          <h5>{{ event.posting_date }}</h5>
          <h6>{{ event.category }}</h6>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



{% endblock %}
