{% extends 'main/base.html' %}

{% block title %} Healthcare Events {% endblock %}

{% block content %}

<div class="container m-5 p-5">
    <div class="row">
        <div class="col">
            <h1>Exclusive Events</h1>
            {% for exclusive_event in exclusive_events %}
                <img src="{{exclusive_event.image.url}}" class="card-img-top h-50" alt="Technology Event image">
                <h1>{{ exclusive_event.title}}</h1>
                <h2>{{ exclusive_event.content }}</h2>
                <h3>{{ exclusive_event.posting_date }}</h3>
                <h4>{{ exclusive_event.category }}</h4>
                <a href="{% url 'events:booking_page_view' %}" class="btn btn-primary" type="button">Book</a>
                <div class="btn-group">
                    <button type="button" class="btn  btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Edit event
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'events:update_event_view' exclusive_event.id %}">Update event</a></li>
                        <li><a class="dropdown-item" href="{% url 'events:delete_event_view' exclusive_event.id %}">Delete event</a></li>
                    </ul>
                </div>
                
            {% endfor %}

        </div>

    </div>

</div>


{% endblock %}