

{% extends 'main/base.html' %}

{% block title %} Display Tickets {% endblock %}

{% block content %}

{% if tickets.count == 0 %}
<div class="m-5 p-5 text-center">
    <h1 class="display-3 m-5">
        Ticket Details 
        </h1>
    <div class="alert alert-warning m-5">You don't have any Tickets yet.</div>
    <a class="btn btn-outline-success" href="{% url 'events:events_home_view' %}">Discover Events</a>
</div>
{% endif %}

{% if tickets.count > 0 %}

<div class="d-flex justify-content-between">
    <h1 class="display-3 m-5">
        Ticket Details ({{tickets.count}}) :
        </h1>
</div>

<hr/>
<div class="container1">
    <div class="row d-flex justify-content-center align-items-center rounded-4 m-5 gap-2  ">
        {% for ticket in tickets %}
        <div class="border border-5 p-3 mb-2 bg-success-subtle text-emphasis-success">
            <div class="col-9 display-4">Succeffully Booked <span class="material-symbols-outlined">
                check_circle
                </span></div>
                <hr>
            <div class="col-4"><h2>{{ticket.event.title}}</h2>
                <h3 class="">Tickets<span class="material-symbols-outlined">local_activity</span>: {{ticket.quantity}}</h3>
                <h3>Category:{{ticket.event.category}}</h3>
                <h6>Location : {{ ticket.event.location }}</h6>
                <h6>Date : {{ ticket.event.posting_date }}</h6>
                <br>Congratulations, {{ ticket.user.first_name }} to {{ ticket.event.title }} you will had so much fun and will discover new things and many things.</div>
                <div class="mt-4">
                    <a href="{% url 'events:event_details_view' ticket.event.id %}" class="btn btn-outline-secondary">Event Details</a>
                    <a href="{% url 'main:home_page_view' %}" class="btn btn-outline-secondary">Home</a>
                </div>
        </div>
        {% endfor %}
    </div>
  </div>


  
  
  
{% endif %}

{% endblock %}
<a href="{% url 'events:my_tickets_view' %}" class="btn btn-outline-warning m-2" style="height:4rem; width: 10rem;">Tickets<span class="material-symbols-outlined">local_activity</span></a>  
