{% extends 'main/base.html' %}

{% block title %} Update Events {% endblock %}

{% block content %}


<section class="container-1 m-5">

    <h1 class="display-1 text-center">Update Event</h1>

    <div class="row">
        <div class="col-12">

            <form action="{% url 'events:update_event_view' event.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label>Title:</label>
                <input class="form-control" type="text" name="title" placeholder="Title" />

                <label>Content:</label>
                <textarea class="form-control" name="content"></textarea>

                <label>Category</label>

                {% for key, value in categories.choices %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" id="{{key}}" value="{{value}}">
                        <label class="form-check-label" for="{{key}}">{{value}}</label>
                    </div>
                {% endfor %}

                
                <label>Event image:</label>
                <input type="file" name="image"  class="form-control" accept="image/*"/>

                <label>Posting Date:</label>
                <input class="form-control" name="posting_date" type="date" />
                <label>location</label>
                <input  class="form-control" type="text" name="location"/>
                
                <input class="btn btn-success m-3" type="submit" value="Create Event" />
            </form>

        </div>

    </div>

</section>



{% endblock %}