*{
padding: 0;
margin: 0;
box-sizing: border-box;
}


.navbar-brand{
    font-family: 'Caveat', cursive;
    font-size: 40px;
}
.nav-item a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 0.4s;
}

.nav-item a:hover{
    color: rgb(20,219,20);
}
.search {
    height: 45px;
    outline: none;
    border: 2px solid rgb(20,219,20) ;
    background-color: transparent;
    border-radius: 20px 0px 0px 20px;
    border-right: none;
}

.btn1{
    height: 45px;
    outline: none;
    border:none;
    background-color: rgb(20,219,20) ;
    color:white;
    border-radius: 0px 20px 20px 0px;
    transition: all 0.4;
}

.btn1:hover{
    background-color: rgb(20,219,20) ;

}
.navbar-toggler{
    font-size: 20px;
    color:black;
}
.navbar-toggler:focus{
    outline:none ;   
    box-shadow: none;
}
.home-img{
    height: 30rem;
    width: 40rem;
    object-fit: cover;
    object-position:center;
    display: block;

}
.avatar1 img {
    object-fit: cover; 
    width: 10vw ;
    height: 10vh;
}

.link-muted {
     color: #aaa; 
    }

    
.link-muted:hover { 
    color: #1266f1;
 }

.favored span{
    color: red;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  'color' red
}
.favored{
    color: red;
}
 
a {
    text-decoration: none;
}



.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
.four_zero_four_bg h1{
 font-size:80px;
 }
 
.four_zero_four_bg h3{
       font-size:80px;
       }
       
.link_404{      
  color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
  .contant_box_404{ margin-top:-50px;}

