{% extends 'main/base.html' %}
{%load static %}
{% block title %}Login{% endblock%}
{% block content%}
<div class="container">
<div class="row">
    <div class="col">
        {% if msg %}
        <div class="alert alert-danger" role="alert">
            {{msg}}
          </div>
        {% endif %}
        <form action="{% url 'accounts:login_page'%}" method="post">
            {% csrf_token %}
            <label>Username:</label>
            <input class="form-control" type="text" name="username"/>
            <label>Password:</label>
            <input class="form-control" type="password" name="password"/>
            <input class="btn btn-success" type="submit" value="Sign In" />
            <h5>You don't have an account ? please <a href="{% url 'accounts:register_user' %}">Sign up</a>.</h5>
        </form>
    </div>
</div>
</div>
{% endblock %}