{% extends 'main/base.html' %}
{% block title %} Doctor profile {% endblock %}
{% block content %}

<h3 class="title"> D.{{ doctor.name }} </h3>
<section class="Doctor-d">
    <div class="d-flex flex-row gap-1">
        <img class="doctor-img" src="{{ doctor.avatar.url }}" />
    </div>
    <div class="col">
        <div class=" d-flex justify-content-center align-items-center">
            <p class="bio"> bio: {{ doctor.bio }} </p>
        </div>
    </div>

    <div class="worked">
        <h5>{{ doctor.name}} worked in: </h5>
        <div class="row g-4 row-cols-12 row-cols-md-2">
            {% for clinic in doctor.clinic_set.all %}
            <div class="col">
                <div
                    class="clinic-card d-flex flex-column gap-2 p-0 border border-1 rounded-4 shadow h-100 overflow-hidden justify-content-start">
                    <img class="poster" src="{{clinic.poster.url}}" />
                    <div class="p-3 d-flex justify-content-between align-items-center">
                        <div class="d-flex gap-1">
                            <span class="cat ps-3 pe-3 rounded-pill text-white {{clinic.category}}"><a
                                    class="text-decoration-none text-black"
                                    href="{% url 'main:detail_clinic' clinic.category %}">{{clinic.category}}</a></span>
                        </div>

                    </div>
                    <div class="p-3 d-flex flex-column">
                        <a class=" text-decoration-none" href="{% url 'main:detail_clinic'  clinic.id %}">
                            <h3 class="clinic-name">{{ clinic.name }}</h3>
                        </a>

                    </div>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
</section>

{% endblock %}