
{% extends 'main/base.html' %}


{% block title %}  Profile  {% endblock %}


{% block content %}

 
<a href="{% url 'account:update_profile_view'%}" class="btn btn-primary">Update</a>                      


<div class="container mt-5">
    
    <div class="row d-flex justify-content-center">
        
        <div class="col-md-7">
            
            <div class="card p-3 py-4">
            
                
                <div class="text-center mt-3">
                    <span class="bg-secondary p-1 px-4 rounded text-white">Pro</span>
                    <h5 class="mt-2 mb-0">@{{ user.username}}</h5>
                    <h5> {{ user.first_name }} {{ user.last_name }}</h5>
                    <span>{{user.profile.gender}}</span>    
                    
                    <div class="buttons">
                        
                        <button class="btn btn-outline-primary px-4">Message</button>
                        <a class="text-decoration-none" href="mailto:{{ user.email }}"> <button class="btn btn-primary px-4 ms-3">Contact</button> </a>
                    </div>
                    
                    
                </div>
                
               
                
                
            </div>
            
        </div>
        
    </div>
    
</div>
{% endblock %}