
{% extends 'main/base.html' %}


{% block title %}  Update Profile  {% endblock %}


{% block content %}
<section class="container mt-5">
    <h1>Update your profile</h1>

    {% if msg %}
        <div class="alert alert-danger" role="alert">
        {{ msg }}
        </div>
    {% endif %}
    <div class="row">
    
        <div class="col-6">

            <form class="d-flex flex-column gap-1" action="{% url 'account:update_profile_view' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                
                <input class="form-control"  type="text" name="first_name" required minlength="3" placeholder="First Name" value="{{ request.user.first_name }}"/>
                <input class="form-control" type="text" name="last_name" required minlength="3" placeholder="Last Name"  value="{{ request.user.last_name }}"/>
                <input class="form-control" type="email" name="email" required minlength="3" placeholder="Email" value="{{ request.user.email }}"/>

               
                




                <input class="btn btn-primary" type="submit" value="Update profile" />
            </form>

        </div>

    </div>

</section>
{% endblock %}