p{
    white-space: pre-wrap;
    font-size: 1.5rem;
}
body{
    overflow-x: hidden;
}
.main{
    background-image: url("/static/images/home.jpg");
    background-size: cover;
    height: 80vh;
    width: 100vw;
    z-index: -1;
}
.style{
    font-family: 'Anton', sans-serif;
    font-size:6rem;
}

.bottom-container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.bottom-nav{
    background-color:seagreen;
    padding: 1.5rem 7rem;
    border-radius: 8rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: -3.5rem;
}
.category-item{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
    font-family: 'Phudu', sans-serif;
}
.category-item h5{
    color: white;
}
.category-item span{
    font-size: 250px;
    color:seagreen;
}
.test{
    height: 220px;
}


.login-item{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.update{
    border-radius:30px;
}

.detail{
    background-color: rgb(46, 139, 87,0.5);
    border-radius: 30px;
}
