{% extends 'main/base.html' %}
{% load static %}

{%block title%} Add menu {%endblock%}

{% block contant %}
    <div class="container_services p-4">
        <h1 class="contents"> Add New menu {{store.name}}</h1>
        <div class="row">
        {% if msg %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
        </div>
        {% endif %}

            <div class="col-6">

                <form action="{% url 'delivery:add_menu_view' store.id %}" method="POST"  enctype="multipart/form-data" class="d-flex flex-column gap-2">
                    {% csrf_token %}

                    <label>Image</label>
                    <input class="form-control" name="img" type="file"  accept="image/*"/>

                    <label> Name</label>
                    <input class="form-control" name="name" type="text" required minlength="4"/>
                    
                    <label>Description</label>
                    <input class="form-control" name="description" type="text" required minlength="10"/>

                    <label>Price</label>
                    <input class="form-control" name="price" type="text" required />
                

                    <input class="btn btn-primary" type="submit" value="Add" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}