{% extends 'main/base.html' %}
{% load static %}

{%block title%} Details Horses {%endblock%}

{% block contant %}
<div class="container3 p-2">
  <div class="d-flex flex-row justify-content-between ">
    <img src="{{store.img.url}}"width="600px" height="400px"/>
    <div class="d-flex flex-column g-4 justify-content-center">
      <h1 class="contents">{{store.name}} </h1>
      <a class="link1 " href="{{store.location}}"><h6>location</h6></a>
      <h4> work time : {{store.work_time}}</h4>
      <h3>{{store.rating}} ★ </h3>
    </div>
    <div class="dropdown p-4">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Edit Store
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{ % url 'delete_store_views' store.id % }">delete Store </a></li>
        <li><a class="dropdown-item" href="#">Update Store</a></li>
       
      </ul>
    </div>
  </div>
  
</div>
<hr>

<div class="container_services p-4">
  <p class="contents">We offer you the best stores in terms of quality, price, and products. Shop with us for everything you need , choose the product you want</p>
  <h3> Prodects ({{stores.count}}): </h3>
  {% for stores in stores %}
    <div class="card mb-4" style="max-width: 560px;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{stores.img.url}}" style=height:100% class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{stores.name}}</h5>
            <p class="card-text">{{stores.description}}</p>
            <p class="card-text"><small class="text-body-secondary"> <span style="color: red;" class="material-symbols-outlined">
              payments</span> {{stores.price}} Riyal </small></p>
              
            <a href="#" class="btn btn-primary">To order </a>

          </div>
        </div>
      </div>
    </div>
  {%endfor%}
</div>

<hr>


  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Edit Menu 
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'delivery:add_menu_view' store.id %}">Add Menu</a></li>
        <li><a class="dropdown-item" href="#">Update Menu</a></li>
        <li><a class="dropdown-item" href="#">delete Menu</a></li>
      </ul>
    </div>

{%endblock%}