{% extends 'main/base.html' %}
{% load static %}

{%block title%} Update {%endblock%}
{% block contant %}

<div class="container-add container_services p-4">
    <h1 class="contents">Update {{stores.name}}:</h1>
    <br>
    <div class="row">
        <div class="col-6">
            <form action="{%  url 'delivery:update_store_views' store.id  %}" method="POST" enctype="multipart/form-data" class="d-flex flex-column gap-2">
                {% csrf_token %}

                <label> Name Store</label>
                <input class="form-control" name="name" type="text" required minlength="4"/>
                
                <label>Image Store</label>
                <input class="form-control" name="img" type="file"  accept="image/*"/>

                <label>Location</label>
                <input class="form-control" name="location" type="url" required />

                <label>Work time</label>
                <input class="form-control" name="work_time" type="text" required />

                <label>Rating Store</label>
                <select name="rating" class="form-select" required>
                    <option value="1">★</option>
                    <option value="2">★★</option>
                    <option value="3">★★★</option>
                    <option value="4">★★★★</option>
                    <option value="5">★★★★★</option>
                </select>

                <input class="btn btn-primary" type="submit" value="Updata Store" />
            </form>

        </div>
    </div>
</div>

{%endblock%}