{% extends 'main/base.html' %}
{% load static %}


{% block title %} User profile {% endblock %}


{% block content %}


<div class="container border border-warning mt-5">
    <div class="row">
      <div class="col-sm-3">
        <img class="w-100 rounded-circle" src="{{ user.profile.avatar.url }}"/>
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-8 col-sm-6 mt-4">
            <h3>First name: {{ user.first_name }}</h3>
          </div>
          <div class="col-4 col-sm-6 mt-4">
            <h3>Last name: {{ user.last_name }}</h3>
          </div>
          <div class="col-4 col-sm-6 mt-4">
        </div>
        </div>
      </div>
      <a class="btn btn-outline-secondary text-center" href="{% url 'accounts:logout_user_view' %}" >Log out</a>
    </div>
  </div>


  <div class="box text-center">
    <div class="row gap-2 m-4">
      <div class="col border border-warning btn btn-warning">
            <a href="{% url 'favorites:my_favorites_view' %}">Favorites<span class="material-symbols-outlined">favorite</span></a>
      </div>
      <div class="col border border-warning btn btn-warning">
        <a href="{% url 'events:my_tickets_view' %}">Tickets<span class="material-symbols-outlined">local_activity</span></a>
      </div>
      <div class="col border border-warning btn btn-warning">
        <a href="{% url 'accounts:update_user_view' %}">Update Profile<span class="material-symbols-outlined">manage_accounts</span></a>
      </div>
    </div>
  </div>


<div class="container border border-warning">
    <div class="row">
        <div class="col">
            <h4>Rate your experiences</h4>
            <h5>Help us improve and make your experiences more fun </h5>
            <div class="icons">
                <span class="material-symbols-outlined">sentiment_very_satisfied</span>
                <span class="material-symbols-outlined">mood_bad</span>
                <span class="material-symbols-outlined">sentiment_extremely_dissatisfied</span>
            </div>
        </div>
    </div>
</div>

{% endblock %}