{% extends 'main/base.html' %}


{% block title %} Update Status {% endblock %}


{% block content %}
<style>
    .card {
        padding: 50px;
        width: 80vw;
        min-height: 670px;
        border-radius: 20px;
        background: #ffffff;
        box-shadow: 5px 5px 6px #dadada,
            -5px -5px 6px #f6f6f6;
        transition: 0.4s;
        margin: 20px;
        margin-left: 10%;
    }

    .card-title {
        font-size: 18px;
        font-weight: 600;
        color: #2e54a7;
        margin: 15px 0 0 10px;
    }

    .card-body {
        margin: 13px 0 0 10px;
        color: rgb(31, 31, 31);
        font-size: 15px;
    }

    .footer {
        float: right;
        margin: 28px 0 0 18px;
        font-size: 13px;
        color: #636363;
    }
</style>
<!-- details Card  -->
<div class="card">
    <p class="card-title"> From : {{message.email}} </p>
    <p class="card-title"> Name : {{message.name}} </p>
    <p class="card-title"> Subject : {{message.subject}} </p>
    <p class="card-title"> Message :</p>
    <p class="card-body">{{message.message}}</p>
    <p class="footer">Created at: <span class="date">{{message.created_at}}</span></p>
    <p class="footer">Status: <span class="date">{{message.status}}</span></p>
    <p> 
        {% if request.user.is_staff %}
        <div class="dropdown">
            <button class="btn btn-outline-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Edit
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'contactUs:status_view' message.id%}">Update Status</a></li>
            </ul>
            <a href="{% url 'contactUs:message_view'%}"><button type="button" class="btn btn-outline-info">Back</button></a>
        </div>
        {% endif %}
    </p>

    <form action="{% url 'contactUs:status_view' message.id %}" method="POST">
        {% csrf_token %}
        <label>Category:</label>
        {% for key, value in status_choices.choices %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="status" id="{{key}}" value="{{key}}" required>
            <label class="form-check-label" for="{{key}}">
                {{value}}
            </label>
        </div>
        {% endfor %}
        <input class="btn btn-outline-primary mt-2" type="submit" value="save" />
    </form>
</div>
{% endblock %}