{% extends 'main/base.html' %}
{% block title %} About Us {% endblock %}
{% block content %}

<div>
    <h1 class="title-about"><b> ABOUT US </b></h1>
    <form action="{% url 'main:add_clinic' %}" method="POST" enctype="multipart/form-data">
        <div class="about">
            <p class="to-about"> Welcome to <b class="logo">OneClick</b> website for booking your appointment easly in
                all
                Clinics, where your health is our top priority. We understand the significance of regular health
                check-ups
                in maintaining a thriving and resilient community. </p>
            <video controls class="video">
                <source src="/video/clinic.mp4" type="video/mp4">
            </video>
        </div>
</div>

<div>
    <div class="bord">
        <div class="bord-line1">
            <img src="/image/clinic.jpg">
            <h2>Meet the Team</h2>
            <h6 class="h"> Our dedicated team of healthcare professionals is committed to providing comprehensive and
                personalized care to address your unique health needs. With a focus on accessibility, we have
                strategically located our clinics across the country to ensure that everyone can easily access essential
                healthcare services. </h6>
        </div>
        <div class="bord-line2">
            <h2>Our Mission</h2>
            <h6 class="h"> We believe in the power of preventive healthcare and emphasize the importance of routine
                check-ups to detect and address potential health issues early on. Our holistic approach extends beyond
                physical health, encompassing mental well-being, lifestyle guidance, and community well-being. we
                envision a healthier Saudi Arabia, one individual at a time, and we invite you to embark
                on your wellness journey with us. Your well-being is not just our commitment; it's our passion. </h6>
            <img src="/image/clinic1.jpg">

        </div>
        <div class="bord-line3">
            <img src="/image/clinic3.jpg">
            <h6 class="h"> where we've streamlined the path to optimal health through effortless appointment booking. We
                recognize that your time is precious, and so is your health. Our user-friendly platform allows you to
                seamlessly
                schedule appointments with leading clinics across Saudi Arabia, putting your well-being at the
                forefront.
            </h6>
        </div>
        <div class="bord-line4">
            <h6 class="h">we advocate for the importance of routine health check-ups as a proactive measure in
                safeguarding your vitality. By simplifying the appointment booking process, we empower you to take
                control of your health journey. Whether it's a regular check-up, preventive screenings, or specialized
                consultations, our platform connects you with a network of trusted clinics, ensuring that your health is
                in capable hands.
            </h6>
            <img src="/image/clini2.jpg">
        </div>
        </form>
    </div>


    {% endblock %}