{% extends 'main/base.html' %}
{% block title %} About Us {% endblock %}
{% block content %}

<div>
    <h3 class="title"><b> About Us </b></h3>
    <div class="about-us">
        <h4 class="about"> Welcome to <b class="logo">OneClick</b> website for booking your appointment easly in
            all
            Clinics, where your health is our top priority. We understand the significance of regular health
            check-ups
            in maintaining a thriving and resilient community. </h4>
        <video controls class="video">
            <source src="/static/video/clinic.mp4" type="video/mp4">
        </video>
    </div>
</div>

<div>
    <div class="bord">
        <div class="bord-line2">
            <img src="/static/image/clinic.jpg">
            <h5 class="h">Our dedicated team of healthcare professionals is committed to providing comprehensive and
                personalized care to address your unique health needs. With a focus on accessibility, we have
                strategically located our clinics across the country to ensure that everyone can easily access essential
                healthcare services. We believe in the power of preventive healthcare and emphasize the importance of
                routine
                check-ups to detect and address potential health issues early on. Our holistic approach extends beyond
                physical health, encompassing mental well-being, lifestyle guidance, and community well-being. we
                envision a healthier Saudi Arabia, one individual at a time, and we invite you to embark
                on your wellness journey with us. Your well-being is not just our commitment; it's our passion. </h5>
        </div>

        <div class="bord-line3">
            <h5 class="h"> where we've streamlined the path to optimal health through effortless appointment booking. We
                recognize that your time is precious, and so is your health. Our user-friendly platform allows you to
                seamlessly schedule appointments with leading clinics across Saudi Arabia, putting your well-being at
                the
                forefront. we advocate for the importance of routine health check-ups as a proactive measure in
                safeguarding your vitality. By simplifying the appointment booking process, we empower you to take
                control of your health journey. Whether it's a regular check-up, preventive screenings, or specialized
                consultations, our platform connects you with a network of trusted clinics, ensuring that your health is
                in capable hands.
            </h5>
            <img src="/static/image/clinic3.jpg">
        </div>
        </form>
    </div>


    {% endblock %}