{% extends 'main/base.html' %}
{% load static %}
{% block title %} Client inquiries {% endblock %}

{% block content %}
<div class="ask">
    <h2 class="title"><b> Client Inquiries: </b></h2>
    <div class="col">
        <div class="d-flex flex-column gap-2">
            {% for contact in contact %}
            <div class="d-flex flex-column gap-2 border border-1 p-3">
                <h4>{{ contact.user_name }}</h4>
                <h4><a href="mailto:{{contact.email}}">{{ contact.email }}</a></h4>
                <p>{{ contact.message }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}