{% extends 'main/base.html' %}
{% load static %}
{% block title %} Clinics {% endblock %}

{% block content %}
<div class="home">
    <h1 class="home-title"> Welcome to Clinics Booking Website !</h1>
    <img class="background" src="https://images.pexels.com/photos/4210557/pexels-photo-4210557.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
        </div>
    <div>
        <ul class="category">
            <li> <a href="#" class="catogary"></a> </li>
            <li> <a href="#" class="catogary"></a> </li>
        </ul>
    </div>

    {% endblock %}