{% extends 'main/base.html' %}
{% load static %}
{% block title %} Admin {% endblock %}

{% block content %}
<div class="manage-con">
    <div class="manage">
        <h3> Allowed For Admin</h3>
    </div>
    <div class="manage-links">
        <a href="{% url 'main:add_clinic' %}" class="man"> Add New Clinic </a>
        <a href="{% url 'main:display' %}" class="man"> Viwe & Edit Clinics </a>
        <a href="{% url 'main:client_contact' %}" class="man"> Client Inquiries</a>
    </div>
</div>

{% endblock %}