{% extends 'main/base.html' %}
{% load static %}

{% block title %} Admin {% endblock %}

{% block content %}
<div class="home">
    <h1 class="home-title"> Log in as Admin!</h1>
</div>
<div>
    <ul class="category">
        <li> <a href="#" class="catogary"></a> Add New Clinic </li>
        <li> <a href="#" class="catogary"></a> Viwe & Edit Clinics </li>
        <li> <a href="#" class="catogary"></a> Recently Appointment </li>
        <li> <a href="#" class="catogary"></a> Client inquiries </li>
    </ul>
</div>

{% endblock %}