{% extends 'main/base.html' %}
{%load static %}
{% block title %}Update ingredient{% endblock%}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col">
            <form action="{% url 'ingredients:update_ingredient' ingredient.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label>Name:</label>
                <input class="form-control" type="text" name="name" placeholder="Name of ingredient" value="{{ingredient.name}}"/>
                <label>Description:</label>
                <textarea class="form-control" name="description">{{ingredient.description}}</textarea>
                <label>brand:</label>
                <input class="form-control" type="text" name="brand" placeholder="Brand of ingredient" value="{{ingredient.brand}}"/>
                <img src="{{ingredient.image.url}}" height="200px" width="250" class="rounded"/>
                <br>
                <label>image:</label>
                <input type="file" name="image"  class="form-control" accept="image/*"/>
                <input class="btn btn-success" type="submit" value="Update ingredient" />
            </form>
        </div>
    </div>
</div>
{% endblock %}