{% extends 'home/base.html' %}
{% load static }
{% block title %}
<title> Service Detils </title>
{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-4 justify-content-center align-items-center border">
            {% if massage %}
            <div class="alert alert-danger" role="alert">
                massage
            </div>
            {% endif %}
            <div class="d-flex flex-column">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
