{% extends 'main/base.html' %}


{% block title %} About US  {% endblock %}
{% block content  %}
<div class ="wrapper pages-content">
    <div class = "row content d-flex flex-column align-items-center mt-0">
 
            <h1> About Us</h1>
            <p class = "psize">Welcome to BAYTAK, your trusted partner for all your home service needs. At BAYTAK, we believe that a well-maintained home is the foundation for a comfortable and happy life. Our platform is dedicated to connecting you with skilled professionals in plumbing, electrical work, cleaning, and more.

                What sets us apart? BAYTAK is more than just a service provider; we're your companion on the journey to creating the perfect home. Our team of experienced and reliable professionals is committed to delivering top-notch services tailored to your unique requirements.<br>
                
                Why choose BAYTAK?<br>
                
                Expertise<br>
                Convenience<br>
                Reliability<br>

                Join the BAYTAK community and experience the convenience of a well-maintained home. Your satisfaction is our priority, and we look forward to being your go-to partner for all things related to home services.
                
                Transform your living space with BAYTAK where excellence meets home services.</p>
     </div>
</div>



{% endblock %}