{% extends 'main/base.html' %}
{% load static %}

{% block title %}Contact Us {% endblock %}
{% block content  %}

<div class="wrapper pages-content">
<div class = "container content d-flex flex-column align-items-center">
        <div class = "row ">
            <h1> Contact US</h1>
        </div>
        <div class = "row d-flex flex-column align-items-center">
            <form action="{% url 'main:contact' %}" method="POST">

                {% csrf_token %}

           

           
            

            
            <label>Request Type:</label>
                <select name="requestType" class="form-select" required>
                    <option value="suggestions">Suggestions</option>
                    <option value="complaints">Complaints</option>
                    <option value="inquiry">Inquiry</option>
                    <option value="report">Report</option>
                </select>

                <p><label>Comments:</label>
                <textarea class="form-control " name = "comment" rows = "3" cols="50" >Message</textarea></label></p>

                <label>What do you think about our site:</label>
                <select name="evaluation" class="form-select" required>
                    <option value="veryGood">Very Good</option>
                    <option value="good">Good</option>
                    <option value="unsatisfactory">Unsatisfactory</option>
                </select>
                
                {% if request.user.is_authenticated %}
                <input class = "btn btn-dark text-center mt-3 mb-3"type = "submit" value = "Submit" >
                {% else %}
                <input class = "btn btn-dark text-center mt-3 mb-3"type = "submit" disabled = "Submit" >
                {% endif %}

            </form>


        </div>

</div>
</div>



{% endblock %}