{% extends 'main/base.html' %}
{% load static %}

{% block title %}Baytak{% endblock %}


{% block content  %}
<div class="wrapper pages-content">
<div class = "container">
      
<h1 class = "centerWord mb-5 ">Welcome to BAYTAK</h1>
       <div class = "row content d-flex flex-column align-items-center ">
            <div>
                    
                    <p>Welcome to Baytak, your final destination for effective home services. We connect you with skilled professionals for quick repairs, household tasks and routine maintenance. Our easy-to-use platform ensures a smooth and stress-free experience, putting you in control of your home's needs. Choose Baytak for fast, reliable and excellence-based services because your comfort is our priority.</p>
                    <h1 class = "back backh1 ">How It Work</h1>
                    <h2>Select Your area requrment</h2>
                    <h2>Select Your area requrment</h2>
                    <h2>Select Your area requrment</h2>
            </div>
      

        <div class = "row">
            <div class = "col-6">
                   
            </div>
        </div> 

        <div class = "row">
            <h1 class = "centerWord">Choose your service</h1>
        </div>

        <div class = "row">
              <div class = "col-6 d-flex flex-column align-items-center">
                <img src="/static/image/ElectricianandPlumber.jpeg" class="icons" alt="ElectricianandPlumber">
                  <h3>Electrician and Plumber</h3>
                  <a href="{% url 'services:viewServices' %}?category=Electrician and Plumber" class="btn btn-dark text-center  ">Discover More</a>
              </div>

              <div class = "col-6 d-flex flex-column align-items-center">
                <img src="/static/image/cleanIcon.jpeg" class="icons" alt="CleanIcon">
                <h3>Clining</h3>
                <a href="{% url 'services:viewServices' %}?category=Clining" class="btn btn-dark text-center  ">Discover More</a>
              </div>

              <div class = "col-6 d-flex flex-column align-items-center">
                <img src="/static/image/watertank.jpeg" class="icons" alt="Watertank">
                <h3>Water filling</h3>
                <a href="{% url 'services:viewServices' %}?category=Water filling" class="btn btn-dark text-center  ">Discover More</a>
              </div>

              <div class = "col-6 d-flex flex-column align-items-center">
                <img src="/static/image/Movingfurniture.jpeg" class="icons" alt="Moving furniture">
                <h3>Moving furniture</h3>
                <a href="{% url 'services:viewServices' %}?category=Moving furniture" class="btn btn-dark text-center  ">Discover More</a>
              </div>
             
        </div>

      </div>
        <div class = "row">
            <h2>want to work with us?</h2>
            <h2>Please fill the registration form,</h2>
            <h3>(Only for Electrician, Plumber, Carpenter, Painter, Pest Control, Home Appliance and Computer Services )</h3>
            <a></a>
        </div>
     
</div>
</div>



{% endblock %}
