{% extends 'main/base.html' %}
{% load static %}
{% block title %}Search Results{% endblock %}

{% block content %}

<section class="container pt-4">

    <div class="d-flex justify-content-between align-items-center">
        <h1>Search results:</h1>
        <hr>
    </div>

    <div class="row">
        {% if cars %}
            {% for car in cars %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <img src="{{ car.image.url }}" class="card-img-top" alt="Car Image">
                        <div class="card-body">
                            <h5 class="card-title">{{ car.name }} - {{ car.year }} - ({{ car.available }})</h5>
                            <p class="card-text"><span class="material-symbols-outlined">person</span> {{ car.seats }} seats</p>
                            <p class="card-text"><span class="material-symbols-outlined">trip</span> {{ car.pags }}</p>
                            <p class="card-text"><span class="material-symbols-outlined">mode_fan</span> {{ car.air_conditioner }}</p>
                            <p class="card-text"><span class="material-symbols-outlined">auto_transmission</span> {{ car.transmission_type }}</p>
                            <p class="card-text"><i class="bi bi-fuel-pump"></i> {{ car.fuel_type }}</p>
                            <h6 class="card-title">Price for day: "{{ car.price }}"</h6>
                            <a href="{% url 'car:cars_details_view' car.pk %}" class="btn btn-primary">More details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-md-12">
                <p class="text-center">No cars found. Please try a different search query or check back later.</p>
            </div>
        {% endif %}
    </div>

</section>

{% endblock %}
