.imgProfile{
    width: 10px;
    height: 10px;
}

#logo{
    width: 100px;
    height: 60px;
    
}
.wrapper {
    padding: 24vh 10vw;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
      
}
.pages-content{
   
    background-image: url('/static/image/backService.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 20vh 15vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5vh;
     
 }
.content{

    background-color:rgba(255, 255, 255, 0.824);
    border-radius: 15px;
    text-align: center;
    box-shadow: 100px;
   
}
 
.centerWord{
    text-align: center;

}

.icons{
    background-color: white;
    border-radius:100px;
    width: 200px;
    height: 200px;
}

.back{
    background-color: rgba(0, 0, 0, 0.749);
    border-radius: 15px;
    
    text-align: center;
    margin-left: 10px;
    margin-right: 100px;
}

.backh1{
    color: white;
}

p {
    font-family: 'Barlow Condensed', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Phudu', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Ubuntu', sans-serif;
font-size: 20px;
}
.nav-item{
    color: black;
}
.avatar{
width: 10px;
height: 100px;
}
.imgProfile{
    width: 20px;
    height: 20px;

}