{% extends 'main/base.html' %}
{% load static %}

<title>
    {% block title %}About {% endblock %}
</title>

{% block content %}
    
<div class="container p-5">

<section class="p-5">
    <div class="row p-5 gap-1" >
        <div class="col">
            <h1 class="navbar-brand">LetsEat </h1><br>

       
            <h5>A site to change the prevailing idea about healthy food in terms of its speed of preparation and ease of availability. that it
                A site for those who want to change for better health and a better quality of life</h5>
        
        </div>

    </div>


</section>



</div>

         
     
{%endblock%}