{% extends 'main/base.html' %}
{% load static %}

<title>
    {% block title %}Main {% endblock %}
</title>

{% block content %}
<div class="container">
    
            <div class="row pt-5"> 
                <div class ="col bg-light"> <br>
                    <h3>For Contact </h3>
                   
                    <form style="width: 26rem; padding: 40px;">
                    <!-- Name input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form4Example1">Name</label>
                    <input type="text" id="form4Example1" class="form-control" />
                    </div>
                
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form4Example2">Email address</label>
                    <input type="email" id="form4Example2" class="form-control" />
                    </div>
                
                    <!-- Message input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                    <label class="form-label" for="form4Example3">Message</label>
                    <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                    </div>
                
                    <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4">Send</button>
                </form>
            </div>
            
        </div>
</div>

{% endblock%}
