{% extends 'main/base.html' %}
{% block title %} My Appointment {% endblock %}
{% block content %}
    <section class="container">
        <h1>My Appointment</h1>
        <div class="row row-cols-12 row-cols-md-3 g-3">
            {% if appointment.count == 0 %}
             <div class="alert alert-info">You don't have any appointment yet.</div>
            {% endif %}
            {% for fav in favorites %}
                <div class="col">
                    <div class="fav-card d-flex align-items-first gap-2 border border-1 rounded">
                        <img class="rounded" src="{{ fav.movie.poster.url }}" />
                        <div>
                            <a href="{% url 'movies:movie_detail_view' fav.movie.id %}"><h4>{{ fav.movie.name }}</h4></a>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}