{% extends 'main/base.html' %}

{% block title %} My Bookmarks {% endblock %}


{% block content %}
    <section class="cont pt-4">
        <h1>My Bookmarks</h1>
        <div class="row  g-4 row-cols-1 row-cols-md-3">
            {% if bookmarks.count == 0 %}
             <div class="alert alert-info">You don't have any bookmarks yet.</div>
            {% endif %}
            {% for bookmark in bookmarks %}
                <div class="col">
                    <div class="d-flex flex-column gap-2 p-0 border border-1 rounded-4 shadow h-100 overflow-hidden justify-content-start">
                        <img class="rounded" src="{{ bookmark.news.poster.url }}" />
                        <div>
                            <a href="{% url 'expos:news_home_view'%}"><h4>{{ bookmark.news.title }}</h4></a>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}