{% extends 'main/base.html' %}
{%load static %}
{% block title %}Home{% endblock%}
{% block content%}
<div class="container-fluid">
    <div class="row mt-2">
        {% if msg %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
        </div>
        {% endif %}
    </div>
<div class="row main">
<div class="col mx-2">
    <h1 class="mt-5 style text-light">Healthy Food,</h1>
    <h1 class="style text-light">Wealthy mood</h1>
    <a type="button" class="btn btn-success btn-lg mx-5 px-3" href="{% url 'recipes:browse_recipes'%}">RECIPES</a> 
</div>
</div>
<div class="row">
<div class="col">
    <div class="bottom-container">

        <div class="bottom-nav">
    
            <div class="category-item">
                <a href="{% url 'recipes:recipe_categories' 'Breakfast&Brunch' %}"><img src="{% static 'images/breakfast.png'%}" height="50" width="60"></a>
                <h5>Breakfas&Brunch</h5>
            </div>
    
            <div class="category-item">
                <a href="{% url 'recipes:recipe_categories' 'Lunch' %}"><img src="{% static 'images/lunch.png'%}" height="50" width="60"></a>
                <h5>Lunch</h5>
            </div>
    
            <div class="category-item">
                <a href="{% url 'recipes:recipe_categories' 'Appetizers' %}"><img src="{% static 'images/appetizer.png'%}" height="50" width="60"></a>
                <h5>Appetizers</h5>
            </div>
    
            <div class="category-item">
                <a href="{% url 'recipes:recipe_categories' 'Salad' %}"><img src="{% static 'images/salad.png'%}" height="50" width="60"></a>
                <h5>Salad</h5>
            </div>
    
            <div class="category-item">
                <a href="{% url 'recipes:recipe_categories' 'Soups' %}"><img src="{% static 'images/soup.png'%}" height="50" width="60"></a>
                <h5>Soups</h5>
            </div>
    
            <div class="category-item">
                <a href="{% url 'recipes:recipe_categories' 'Bread' %}"><img src="{% static 'images/bread.png'%}" height="50" width="60"></a>
                <h5>Bread</h5>
            </div>
    
            <div class="category-item">
                <a href="{% url 'recipes:recipe_categories' 'Drinks' %}"><img src="{% static 'images/drink.png'%}" height="50" width="60"></a>
                <h5>Drinks</h5>
            </div>
            <div class="category-item">
                <a href="{% url 'recipes:recipe_categories' 'Desserts' %}"><img src="{% static 'images/desserts.png'%}" height="50" width="60"></a>
                <h5>Desserts</h5>
            </div>
        </div>
    </div>
</div>
</div>
<!--------------------------------->
<div class="row mt-5">
 <h1 class="text-center text-success">LET'S GET Cooking</h1>
 <div class="d-flex justify-content-center mt-4">
<div class="col">
    <div class="category-item">
        <h1>BREAKFAST</h1>
    <span class="material-symbols-outlined">bakery_dining</span>
    </div>
</div>
<div class="col">
    <div class="category-item">
        <h1>LUNCH</h1>
    <span class="material-symbols-outlined">lunch_dining</span>
</div>
</div>
<div class="col">
    <div class="category-item">
    <h1>DINNER</h1>
    <span class="material-symbols-outlined">dinner_dining</span>
    </div>
</div>
</div>
</div>
<!---------->
<h1 class="text-center mt-2">Our delicious recipes</h1>
<div class="row row-cols-1 row-cols-md-3 g-4 my-2">
    {% for recipe in recipes %}
    <div class="col">
      <div class="card">
        <a href="{% url 'recipes:detail_recipe' recipe.id %}"><img src="{{recipe.image.url}}" class="card-img-top" height="220px" alt="..."></a>
        <div class="card-body test">
          <h5 class="card-title text-success">{{recipe.name}}</h5>  
          <h6 class="card-text">{{recipe.description}}</h6>
      </div>
    </div>
  </div>
  {% endfor %}
  
</div>
</div>

{% endblock %}