{% extends 'main/base.html' %}
{%load static %}
{% block title %}Home{% endblock%}
{% block content%}
<div class="container-fluid">
<div class="row main">
<div class="col mx-2">
    <h1 class="mt-5 style text-light">Healthy Food,</h1>
    <h1 class="style text-light">Wealthy mood</h1>
    <a type="button" class="btn btn-success btn-lg mx-5 px-3" href="{% url 'recipes:browse_recipes'%}">RECIPES</a> 
</div>
</div>
<div class="row">
<div class="col">
    <div class="bottom-container">

        <div class="bottom-nav">
    
            <div class="service-item">
                <a href="{% url 'recipes:recipe_categories' 'Breakfast&Brunch' %}"><img src="{% static 'images/breakfast.png'%}" height="50" width="60"></a>
                <h5>Breakfast&Brunch</h5>
            </div>
    
            <div class="service-item">
                <a href="{% url 'recipes:recipe_categories' 'Lunch' %}"><img src="{% static 'images/lunch.png'%}" height="50" width="60"></a>
                <h5>Lunch</h5>
            </div>
    
            <div class="service-item">
                <a href="{% url 'recipes:recipe_categories' 'Appetizers' %}"><img src="{% static 'images/appetizer.png'%}" height="50" width="60"></a>
                <h5>Appetizers</h5>
            </div>
    
            <div class="service-item">
                <a href="{% url 'recipes:recipe_categories' 'Salad' %}"><img src="{% static 'images/salad.png'%}" height="50" width="60"></a>
                <h5>Salad</h5>
            </div>
    
            <div class="service-item">
                <a href="{% url 'recipes:recipe_categories' 'Soups' %}"><img src="{% static 'images/soup.png'%}" height="50" width="60"></a>
                <h5>Soups</h5>
            </div>
    
            <div class="service-item">
                <a href="{% url 'recipes:recipe_categories' 'Bread' %}"><img src="{% static 'images/bread.png'%}" height="50" width="60"></a>
                <h5>Bread</h5>
            </div>
    
            <div class="service-item">
                <a href="{% url 'recipes:recipe_categories' 'Drinks' %}"><img src="{% static 'images/drink.png'%}" height="50" width="60"></a>
                <h5>Drinks</h5>
            </div>
            <div class="service-item">
                <a href="{% url 'recipes:recipe_categories' 'Desserts' %}"><img src="{% static 'images/desserts.png'%}" height="50" width="60"></a>
                <h5>Desserts</h5>
            </div>
        </div>
    </div>
</div>
</div>
<!--------------------------------->
<div class="row mt-5">
 <h1 class="text-center text-success">LET'S GET Cooking</h1>
 <div class="d-flex justify-content-center mt-4">
<div class="col">
    <div class="service-item">
        <h1>BREAKFAST</h1>
    <span class="material-symbols-outlined">bakery_dining</span>
    </div>
</div>
<div class="col">
    <div class="service-item">
        <h1>LUNCH</h1>
    <span class="material-symbols-outlined">lunch_dining</span>
</div>
</div>
<div class="col">
    <div class="service-item">
    <h1>DINNER</h1>
    <span class="material-symbols-outlined">dinner_dining</span>
    </div>
</div>
</div>
</div>
<!---------->

</div>

{% endblock %}