{% extends 'main/base.html' %}
 
{% block title %} home {% endblock %}

{% block content %}

<div class="main-content">
<div class="navbar-top"> 
<div class="content">
    <h1>Welcome to your
        <br> dream home
    </h1>
    <p> A Leading Furniture Company In The Kingdom of Saudi Arabia</p>
    <div id="btn1">
        <button> <a href="{% url 'products:display_products_view' %}">Shop Now</a></button>
  </div>
</div>
</div>
</div>


<div class="big-shop" id="shop">
    <div class="shop-title">
        <h4>
            we are very proud to present you <br> our furniture
        </h4>
        <p>
            Quality is the easiest way to make beautiful products.
        </p>
    </div>
    <div class="shop-flex">
        <div class="shop-one">

            <div class="image-one">
                <img src="/static/images/footer1.jpg" alt="">
                <div class="overlay">
                    <div class="txt">
                        <h3>White Chair</h3>
                        <section>
                            <span>Furniture</span> / Design
                        </section>
                    </div>
                </div>
            </div>

            <div class="image-one">
                <img src="/static/images/footer2.jpg" alt="">
                <div class="overlay">
                    <div class="txt">
                        <h3>Blue Chair</h3>
                        <section>
                            <span>Furniture</span> / Design
                        </section>
                        <div class="link">
                            <a href="#">Shop Now <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="shop-one">

            <div class="image-one">
                <img src="/static/images/footer3.jpg" alt="">
                <div class="overlay">
                    <div class="txt">
                        <h3>Black Chair</h3>
                        <section>
                            <span>Furniture</span> / Design
                        </section>
                        <div class="link">
                            <a href="#">Shop Now <i class="fas fa-long-arrow-alt-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="image-one">
                <img src="/static/images/footer4.jpg" alt="">
                <div class="overlay">
                    <div class="txt">
                        <h3>White lamp</h3>
                        <section>
                            <span>Furniture</span> / Design
                        </section>
                    </div>
                </div>
            </div>

        </div>

        <div class="shop-two">
            <img src="/static/images/footer5.jpg" alt="">
            <div class="overlay">
                <div class="txt">
                    <h3>Brown Chairs</h3>
                    <section>
                        <span>Furniture</span> / Design
                    </section>
                    <div class="link">
                        <a href="#">Shop Now <i class="fas fa-long-arrow-alt-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<hr>
      
</div>
<div class="container">
    <h3 class="text-center" style="padding-top: 30px;">SERVICES WE OFFER</h3>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
                <img src="static/images/background.jpg" alt="" class="card image-top" height="200px">
                <div class="card-body">
                    <h5 class="card-titel text-center">BLACK FRIDAY SALES</h5>
                    <p class="text-center">test</p>
                    <div id="btn2" class="text-center"><button>View More</button></div>
                </div>
            </div>
       
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
                <img src="static/images/background.jpg" alt="" class="card image-top" height="200px">
                <div class="card-body">
                    <h5 class="card-titel text-center">LATEST PRODUCTS</h5>
                    <p class="text-center">test</p>
                    <div id="btn2" class="text-center"><button>View More</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card">
                <img src="static/images/background.jpg" alt="" class="card image-top" height="200px">
                <div class="card-body">
                    <h5 class="card-titel text-center">USER FRIENDLEY</h5>
                    <p class="text-center">test</p>
                    <div id="btn2" class="text-center"><button><a href="{% url 'orders:repair_products_view' %}">Shop Now</a></button></div>
                </div>
            </div>
        </div>
    </div>
</div>


  
<br><br><br>

<hr>

<div class="container">
    <div class="row" style="margin-top: 100px;">
        <div class="col-md-4 py-3 py-md-0">
            <div class="card" id="tpc">
                <img src="static/images/background.jpg" alt="" class="card image-top">
                <div class="card-img-overlay">
                    <h4 class="card-titel">Best Chair</h4>
                    <p class="card-text">test.</p>
                  
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card" id="tpc">
                <img src="static/images/background.jpg" alt="" class="card image-top">
                <div class="card-img-overlay">
                    <h4 class="card-titel">Sofa</h4>
                    <p class="card-text">test.</p>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
            <div class="card" id="tpc">
                <img src="static/images/background.jpg" alt="" class="card image-top">
                <div class="card-img-overlay">
                    <h4 class="card-titel">Work Desk</h4>
                    <p class="card-text">test.</p>
                 
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}