@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

bady{
    padding: 0;
    margin: 0;
   }
h1, h2, h3, h4, h5 {
    font-family: 'Amiri', serif;
    font-family: 'Lateef', serif;
    font-family: 'Noto Naskh Arabic', serif;
    font-family: 'Amiri', serif;
    font-family: 'Aref Ruqaa', serif;
    font-family: 'Lateef', serif;
    font-family: 'Noto Naskh Arabic', serif;
  }
  
  p, a {
    font-family: 'Noto Naskh Arabic', serif;
  }

  a {
    text-decoration: none;
  }

.login{
    background-image: url( /static/images/home.jpg);
}

/* navbar top */

.navbar-top{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.social-link i img{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
.social-link i img:hover{
    background-color: rgba(238,224,208);
    border-radius: 50px;
}
@media screen and (max-width:420px){
    .social-link i img{
        width: 20px;
    }
}
.logo h3{
    font-weight: bold;
}
@media screen and (max-width:420px){
    .logo h3{
        font-size: 20px;
    }
}
.icons i img{
    margin-left: 10px;
    cursor: pointer;
}
@media screen and (max-width:420px){
    .icons i img{
        width: 20px;
    }
}


/* main content */
.main-content{
    width: 100%;
    height: 80vh;
    background-image: url( /static/images/home.jpg);
    background-size: cover;
    background-position: 50%;
}

.content{
    margin-top: 300px;
    margin-left: 75vh;
}
.content h1{
    font-size: 60px;
    color: #ffffff;
}
#btn1 button{
    width: 150px;
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
    color: #ffffff;
   
}

#btn1 button:hover{
    background-color:#ffffff8a;
    color: #ffffff;
}

#btn2 button{
    border: 1px solid black;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn2 button:hover{
    background-color: rgba(238,224,208);}

 #tpc{
        box-shadow: 0 0 5px black;
        transition: 0.5s ease;
        cursor: pointer;
    }
 #tpc:hover{
        transform: translateY(-10px);
    }

   

    .container_a{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .container_a form{
      padding:20px;
      width:700px;
      background: #fff;
      box-shadow: 0 5px 10px rgba(0,0,0,.1);
    }
    
    .container_a form .row{
      display: flex;
      flex-wrap: wrap;
      gap:15px;
    }
    
    .container_a form .row .col{
      flex:1 1 250px;
    }
    
    .container_a form .row .col .title{
      font-size: 20px;
      color:#333;
      padding-bottom: 5px;
      text-transform: uppercase;
    }
    
    .container_a form .row .col .inputBox{
      margin:15px 0;
    }
    
    .container_a form .row .col .inputBox span{
      margin-bottom: 10px;
      display: block;
    }
    
    .container_a form .row .col .inputBox input{
      width: 100%;
      border:1px solid #ccc;
      padding:10px 15px;
      font-size: 15px;
      text-transform: none;
    }
    
    .container_a form .row .col .inputBox input:focus{
      border:1px solid #000;
    }
    
    .container_a form .row .col .flex{
      display: flex;
      gap:15px;
    }
    
    .container_a form .row .col .flex .inputBox{
      margin-top: 5px;
    }
    
    .container_a form .row .col .inputBox img{
      height: 34px;
      margin-top: 5px;
      filter: drop-shadow(0 0 1px #000);
    }
    
    .container_a form .submit-btn{
      width: 100%;
      padding:12px;
      font-size: 17px;
      background: #27ae60;
      color:#fff;
      margin-top: 5px;
      cursor: pointer;
    }
    
    .container_a form .submit-btn:hover{
      background: #2ecc71;
    }

    /*  */

    .container_r {
      max-width: 75%;
      margin: auto;
      box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.3);
    }
    
    .left, .right {
      width: 50%;
      padding: 30px;
    }
    
    .flex {
      display: flex;
      justify-content: space-between;
    }
    
    .flex1 {
      display: flex;
    }
    

    
    .option img {
      width: 75px;
      height: 75px;
      padding: 10px;
    }
    
    .right {
      padding: 50px 100px 50px 50px;
    }
    
   
    
    .label,
    .add span,
    .color span {
      width: 25px;
      height: 25px;
      background: #000;
      border-radius: 50%;
      margin: 20px 10px 20px 0;
    }
    
    .color span:nth-child(2) {
      background: #EDEDED;
    }
    
    .color span:nth-child(3) {
      background: #D5D6D8;
    }
    
    .color span:nth-child(4) {
      background: #EFE0DE;
    }
    
    .color span:nth-child(5) {
      background: #AB8ED1;
    }
    
    .color span:nth-child(6) {
      background: #F04D44;
    }
    
    .add label,
    .add span {
      background: none;
      border: 1px solid #C1908B;
      color: #C1908B;
      text-align: center;
      line-height: 25px;
    }
    
    .add label {
      padding: 10px 30px 0 20px;
      border-radius: 50px;
      line-height: 0;
    }
    
    .button {
      width: 100%;
      padding: 10px;
      border: none;
      outline: none;
      background: #C1908B;
      color: white;
      margin-top: 20%;
      border-radius: 30px;
    }
    
    @media only screen and (max-width:768px) {
      .container_r {
        max-width: 90%;
        margin: auto;
        height: auto;
      }
    
      .left, .right {
        width: 100%;
      }
    
      .container_r {
        flex-direction: column;
      }
    }
    
    /* order*/

    @media only screen and (max-width:511px) {
      .container_r{
        max-width: 100%;
        height: auto;
        padding: 10px;
        
      }
    
      .left, .right {
        padding: 0;
      }
    
      img {
        width: 100%;
        height: 100%;
      }
    
      .option {
        display: flex;
        flex-wrap: wrap;
      }
  
    }
.header_e{
    height: 80px;
    width: 70%;
    background-color: #d28b2e9e;
    border-radius: 3px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  
    
}
.header_e .logo{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.cart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}
.fa-solid{
    color: #d28b2e9e;
}
.cart p{
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: #d28b2e9e;
    color: white;
}

.container_r{
  
    width: 70%;
    margin-bottom: 30px;
}
#root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.sidebar{
    border-radius: 5px;
    background-color: #eeeeeea6;
    padding: 15px;
    text-align: center;
}
.head{
    background-color: #d28b2e9e;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.foot{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}
.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #d28b2e9e;
    border-radius: 5px;
    padding: 15px;
}
.img-box{
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.images{
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    object-position: center;
}
.bottom{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 110px;
}
h2{
    font-size: 20px;
    color: rgb(0, 0, 0);}
    
h4{
      
      color: rgb(0, 0, 0);}


button{
    width: 100%;
    position: relative;
    border: none;
    border-radius: 5px;
    background-color: #d28b2e9e;
    padding: 7px 25px;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: #333;
}
.cart-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}
.row-img{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rowimg{
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}
.fa-trash:hover{
    cursor: pointer;
    color: #333;
}

/*favored*/

.fav-card img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.favored i{
  color: red;
}

.container_h{
  align-items: center;
  
}

.true{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:250px;
  height:250px;
}
.container{
  text-align: center;
}

.avatar {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  margin-left: 30px;

}


.social_media{
  height: 100%;
  place-items: center;
  margin-right: 50px;
  margin-left: 50px;
  
}
.social_media a{
  position: relative;
  height: 60px;
  width: 60px;
  margin: 0 10px;
  display: inline-flex;
  text-decoration: none;
  border-radius: 50%;
  transition: all 0.3s;
  box-shadow: -3px -3px 7px #ffffff,
              3px 3px 5px #ceced1;
}
.social_media a:hover:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  background: #ecf0f3;
  box-shadow: inset -3px -3px 7px #ffffff,
              inset 3px 3px 5px #ceced1;
}
.social_media a i{
  position: relative;
  z-index: 3;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 25px;
  line-height: 60px;
}
.social_media a:hover i{
  transform: scale(0.9);
}
.social_media a.fb i{
  color: #4267B2;
}
.social_media a.twitter i{
  color: #1DA1F2;
}
.social_media a.insta i{
  color: #E1306C;
}
.social_media a.git i{
  color: #333;
}
.social_media a.yt i{
  color: #ff0000;
}


.big-shop{
  width: 90%;
  margin: 150px auto; 
}
.big-shop .shop-title{
  text-align: center;
  margin-bottom: 50px;
}
.big-shop .shop-title h2{
  font-weight: 700;
  font-family: 'Fenix' , serif;
}
.big-shop .shop-title p{
  font-size: 15px;
}
.big-shop .shop-flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.shop-flex .shop-one{
  width: 26%;
}
.shop-flex img{
  width: 100%;
}
.shop-flex .shop-two{
  width: 44%;
}
.shop-flex .image-one{
  position: relative;
  margin-bottom: 20px;
}
.shop-flex .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  padding: 0px 20px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
.shop-flex .overlay .txt{
  color: #FFF;
}
.shop-flex .overlay .txt h3{
  margin-bottom: 3px;
}
.shop-flex .overlay .txt span{
  color: #45ccb8;
}
.shop-flex .overlay .link{
  position: absolute;
  bottom: 50px;
}
.shop-flex .overlay .link a{
  color: #FFF;
  text-decoration: none;
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-bottom: 5px;
}
.shop-flex .overlay .link i{
  vertical-align: middle;
  transition: padding .4s ease-in-out;
  font-size: 15px;
}
.shop-flex .overlay .link a:hover i{
  padding-left: 3px;
}
.shop-flex .overlay .link a::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  background: #FFF;
  width: 100%;
  height: 2px;
  transition: left .4s ease-in-out;
}
.shop-flex .overlay .link a:hover::before{
  left: 0;
}

.shop-flex .image-one:hover .txt{
  animation: job1 .7s ease-in-out forwards;
}

.shop-flex .image-one:hover .link{
  animation: job1_link .7s ease-in-out forwards;
}
.shop-flex .image-one:hover .overlay{
  opacity: 1;
}

.shop-flex .shop-two{
  position: relative;
  height: 100%;
}

.shop-flex .shop-two:hover .txt{
  animation: job1 .7s ease-in-out forwards;
}

.shop-flex .shop-two:hover .link{
  animation: job1_link .7s ease-in-out forwards;
}
.shop-flex .shop-two:hover .overlay{
  opacity: 1;
}





    


    
   