{% extends 'main/base.html' %}
{% load static %}

{%block title%} My Consultations {%endblock%}

{% block contant %}
<div class="container_services p-3">
    <h1 class="contents"> Welcome to Horse Sense</h1>
    <p>We provide you with consultations for everything related to equestrianism
        Just enter your consultations and we will respond to you as soon as possible</p>
    <div class="row">
        <div class="col-6">

            <form action="{% url 'Consultations:consultation_views' user.id %}" method="POST" class="d-flex flex-column gap-2">
               {% csrf_token %}

               <label>Title Consultations </label>
               <input class="form-control" type="text" name="title" required minlength="4">

               <label>Your consulting category</label>
               {% for key , value in categories.choices %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" id="{{key}}" value="{{value}}">
                        <label class="form-check-label" for="{{key}}">
                            {{value}}
                        </label>
                    </div>
                {% endfor %}
                
                <label>Description</label>
                <input class="form-control" type="text" name="description" required minlength="10">

                <label>Horse age</label>
                <input class="form-control" type="text" name="age_horse" required >

                <label>Horse type</label>
                <input class="form-control" type="text" name="horse_type" required >

                <input class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sendModal" type="submit" value="Send" />

            </form>
                <hr>
            

        </div>
        
    </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="sendModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Send Consultations</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar bg-danger" style="width: 10%">10%</div>
              </div>
            <p style="color: red;"> If you click send, we will receive your consultation and it will be processed. We are grateful to choose HorseSense. You will be replied within 24 hours. Continue your consultation</p>
        </div>
        <div class="modal-footer">
        <a href="{% url 'main:order_view' %}"> <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok, send</button></a>
        
        </div>
    </div>
    </div>
</div>


{%endblock%}