{% extends 'main/base.html' %}
{%load static %}
{% block title %}Recipes{% endblock%}
{% block content%}
<div class="container">
<h1 class="text-center text-success mt-3">All Recipes</h1>
<div class="row row-cols-1 row-cols-md-3 g-4 my-2">
    {% for recipe in recipes %}
    <div class="col">
      <div class="card">
        <a href="{% url 'recipes:detail_recipe' recipe.id %}"><img src="{{recipe.image.url}}" class="card-img-top" height="220px" alt="..."></a>
        <div class="card-body test">
          <div class="d-flex justify-content-between align-items-center">
          <h5 class="card-title">{{recipe.name}}</h5>
          {% if not recipe.is_favored %}
          <a href="{% url 'favorites:add_favorite_recipe' recipe.id %}?next=browse"><i class="bi bi-heart"></i></a>
          {% else %}
          <a href="{% url 'favorites:add_favorite_recipe' recipe.id %}?next=browse"><i class="bi bi-heart-fill"></i></a>
          {% endif %}
          </div>
          
          <h6 class="card-text">{{recipe.description}}</h6>
          <div class="">
          <a type="button" class="btn btn-primary btn-sm" href="{% url 'recipes:update_recipe' recipe.id %}">Update</a>
          <a type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleterecipe">Delete</a>
        </div>
        </div>
      </div>
    </div>

    <!--Modal-->
    <div class="modal fade" id="deleterecipe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleterecipe">Delete Recipe</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              Are you sure you want to delete {{recipe.name}} Recipe?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a href="{% url 'recipes:delete_recipe' recipe.id %}" class="btn btn-danger">Yes, I want to delete it.</a>
          </div>
        </div>
      </div>
    </div>
  
    {% endfor %}
  </div>

  
</div>
{% endblock %}