{% extends 'main/base.html' %}
{%load static %}
{% block title %}Detail Recipe{% endblock%}
{% block content%}
<div class="container-fluid">
  <div class="row mt-2">
    {% if msg %}
    <div class="alert alert-danger" role="alert">
        {{ msg }}
    </div>
{% endif %}
</div>
<div class="row">
<div class="col">
<div class="d-flex align-items-center gap-2 mt-4">
<h2 class="text-success">{{recipe.name}}</h2>
{% if not is_favored %}
<a href="{% url 'favorites:add_favorite_recipe' recipe.id %}"><i class="bi bi-heart"></i></a>
{% else %}
<a href="{% url 'favorites:add_favorite_recipe' recipe.id %}"><i class="bi bi-heart-fill"></i></a>
{% endif %}
{% if request.user.is_staff %}
<div class="btn-group">
  <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Edit</button>
  <ul class="dropdown-menu">
    {% if perms.ingredients.add_ingredient%}
    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ModalIngredient">Add ingredient</a></li>
    {% endif %}
    {% if perms.recipes.delete_recipe%}
    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleterecipe">Delete</a></li>
    {% endif %}
    {% if perms.recipes.change_recipe%}
    <li><a class="dropdown-item" href="{% url 'recipes:update_recipe' recipe.id %}">Update</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}
</div>
<div class="d-flex align-items-center gap-2 mt-2">
<h4>{{recipe.cal}}</h4>
<img src="{%static 'images/calories.png'%}" height="30px" width="35px"/>
<h4>{{recipe.time}}</h4>
<img src="{%static 'images/timer.png'%}" height="30px" width="35px"/>

</div>
<h4 class="mt-2">{{recipe.description}}</h4>
</div>
<div class="col">
<img src="{{recipe.image.url}}" height="300px" width="700px" class="rounded"/>
</div>
</div>
<hr>
<div class="row">
    {% if recipe.ingredients.count > 0 %}
    <div class="d-flex gap-2 align-items-center">
    <h3 class="text-success">Ingredients in this recipe</h3>
    <img src="{%static 'images/ingredient.png'%}" height="30px" width="35px"/>
    </div>
    <section class="row row-cols-12 row-cols-md-4">
      {% for ingredients in recipe.ingredients.all %}
      <div class="col">
        <div class="d-flex gap-2 justify-content-between align-items-center">
          <a href="{% url 'ingredients:detail_ingredient' ingredients.id%}" class="text-decoration-none text-black">
          <div class="d-flex align-items-center gap-3 mt-2">
            <img src="{{ ingredients.image.url}}" height="60px" width="60px" class="rounded" />
            <h5>{{ingredients.name}}</h5>
          </div>
          </a>
          {% if request.user.is_superuser %}
          <a href="{% url 'ingredients:delete_ingredients_from_recipe' recipe.id ingredients.id %}" class="btn btn-danger">remove</a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    
    </section>
    {% endif %}
    
    <div class="modal fade" id="ModalIngredient" tabindex="-1" aria-labelledby="ModalIngredient" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="ModalIngredient">Ingredients</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              {% for ingredient in ingredients %}
                <div class="d-flex gap-2 justify-content-between align-items-center mt-2">
                  <div class="d-flex align-items-center gap-3">
                    <img src="{{ ingredient.image.url}}" height="60px" width="50" class="rounded" />
                    <h6>{{ ingredient.name}}</h6>
                 </div>
                  <a href="{% url 'ingredients:add_ingredients_to_recipe' recipe.id ingredient.id %}" class="btn btn-primary">Add</a>
                </div>
              {% endfor %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="modal fade" id="deleterecipe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleterecipe">Delete Recipe</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          Are you sure you want to delete {{recipe.name}} Recipe?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="{% url 'recipes:delete_recipe' recipe.id %}" class="btn btn-danger">Yes, I want to delete it.</a>
      </div>
    </div>
  </div>
</div>

<hr>
<div class="row mt-3 m-1 gap-2">
<div class="col detail p-2">
  <div class="d-flex align-items-center gap-2">
    <h3>Quantities of ingredients</h3>
    <img src="{%static 'images/quantity.png'%}" height="30px" width="35px"/>
  </div>
<p class="text-light">{{recipe.quantities_ingredients}}</p>
</div>
<div class="col detail p-2">
  <div class="d-flex align-items-center gap-2">
    <h3>Instructions</h3>
    <img src="{%static 'images/instructions.png'%}" height="30px" width="35px"/>
  </div>
<p class="text-light">{{recipe.instructions}}</p>
</div>
</div>
<hr>
{% if comments.count > 0 %}
<section class="row">
    <h2 class="text-success">Reviews:({{comments.count}})</h2>
      <div class="col-9">
        <div class="d-flex flex-column gap-2">
          {% for comment in comments %}
          <div class="d-flex flex-column gap-2 border border-success border-1 p-3">
            
            <div class="d-flex align-items-center gap-4">
                <h3 >{{ comment.user.username}}</h3>
                <h6 class="text-muted">{{ comment.date }}</h6>
            </div>
            <h4>Rating:{{ comment.rating }}</h4>
            <p>{{ comment.content }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
  </section>
  {% endif %}
  <section class="row m-3">
    {% if request.user.is_authenticated %}
    <div class="d-flex align-items-center gap-2">
      <h2 class="text-success">Add reviews</h2>
      <img src="{%static 'images/rating.png'%}" height="30px" width="35px"/>
    </div>
      <form action="{% url 'recipes:detail_recipe' recipe.id %}" method="POST">
        {% csrf_token %}
            <label>rating?</label>
            <select name="rating" class="form-select" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        <label>Content:</label>
        <textarea class="form-control" name="content" required></textarea>
        <input class="btn btn-success mt-4" type="submit" value="Add comment" />
      </form>
      {%  else %}
      <div class="detail p-3">
        <div class="d-flex align-items-center gap-2">
      <h2 class="text-light">Share your experience!!</h2>
      <a class="btn btn-success"href="{% url 'accounts:login_page'%}">Sign In</a>
        </div>
      <h3 class="text-light">Join the discussion and help us grow our community.</h3>
    </div>
      {% endif %}
      </section>
</div>
{% endblock %}