{% extends 'main/base.html' %}
{% block title %} AQARI {% endblock %}
{% block content %}
<section class="body_unthorized">
    <div class="container_unthorized">
        <div class="content_unthorized">
            <h1 class="text-success">Registration successful</h1>
            <p>Welcome!' {{user.first_name}}</p>
            <p>Return to Home > <a class="a_unthorized text-body-secondary text-white" href="{%url /account/register/ % }">@{{user.username}}</a></p>
        </div>
    </div>
</section>
{%endblock%}