{% extends 'main/base.html' %}
{% load static %}

{% block title %} My Requests  {% endblock %}
{% block content  %}
<div class ="wrapper pages-content">
    <div class = "row content d-flex flex-column align-items-center ">
      <h1>My Requests</h1>
      <div class = "row">
        <div class=" align-items-center mt-3">
            {% if requests.count == 0 %}
            <h2>You don't have any order yet.</h2>
            {% endif %}
        </div>
       
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Category</th>
                <th scope="col">Service Provider</th>
                <th scope="col">Customer</th>
                <th scope="col">Order Status</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            {% for request in requests %}
            <tbody class="table-group-divider">
              <tr>
                <th scope="row">{{request.service.category}}</th>
                <td>{{request.service.name}}</td>
                <td>{{request.user.first_name}} {{request.user.last_name}}</td>
                <td>{% if request.isDone == True %} Completed {% else %} Incomplete {% endif %}</td>
                <td><a class="btn btn-dark  mb-3" href="{% url 'request:deleteRequest' request.id %}" >Delete</a></td>
              </tr>
              
            </tbody>
            {% endfor %}
          </table>
     
        </div>
        </div>
        </div>
     




{% endblock %}