{% extends 'main/base.html' %}

{% block title %} User profile {% endblock %}


{% block content %}
    <section class="container">
        <div class="row">
            <div class="col-4">
                <div class="d-flex flex-column gap-2">
                    <img  class="w-100 rounded-circle" src="{{ user.profile.avatar.url }}" />
                    <a href="mailto:{{ user.email }}"><i class="bi bi-envelope-at-fill social"></i></a>

                </div>
            </div>
            <div class="col-4">
                <h1> {{user.first_name}} {{user.last_name}}</h1>
                <p> {{user.profile.about}}</p>
                <h3> {{user.profile.have_horse}}</h3>
                <h3> {{user.profile.level}}</h3>
                <h3>{{user.profile.birth_date}}</h3>
                



               
            </div>
        </div>
    </section>




{% endblock %}