{% extends 'main/base.html' %}

{% block title %} {{ event.title }} {% endblock %}

{% block content %}
<style>
  #rev {
    display: flex;
    align-items: center;
    flex-direction:column;
    width: 100%;
    text-align: center;
  }


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
  }

  .star-rating form {
    display: none;
  }

  .star-rating .thanks-msg {
    display: none;
    font-size: 20px;
    margin: 40px auto;
    color: #4caf50;
    background-color: rgba(76, 175, 80, 0.1411764705882353);
    padding: 8px 20px;
    border-left: 3px solid #4caf50;
    border-radius: 20px;
  }

  .star-rating input {
    display: none;
  }

  .star-rating {
    margin: 3px;
    /* display: table; */
    width: 350px;
  }

  .star-rating label {
    padding: 10px;
    float: right;
    font-size: 25px;
    color: #eee;
  }

  .star-rating input:not(:checked)~label:hover,
  .star-rating input:not(:checked)~label:hover~label {
    color: #ffc107;
  }

  .star-rating input:checked~label {
    color: #ffc107;
  }

  .star-rating form .rating-reaction:before {
    width: 100%;
    float: left;
    color: #ffc107;
  }

  .star-rating #rating-1:checked~form .rating-reaction:before {
    content: "I hate it";
  }

  .star-rating #rating-2:checked~form .rating-reaction:before {
    content: "I don't like it";
  }

  .star-rating #rating-3:checked~form .rating-reaction:before {
    content: "It is good";
  }

  .star-rating #rating-4:checked~form .rating-reaction:before {
    content: "I like it";
  }

  .star-rating #rating-5:checked~form .rating-reaction:before {
    content: "I love it";
  }

  .star-rating input:checked~form {
    border-top: 1px solid #ddd;
    width: 100%;
    padding-top: 15px;
    margin-top: 15px;
    display: inline-block;
  }

  .star-rating form .rating-reaction {
    font-size: 24px;
    float: left;
    text-transform: capitalize;
  }

  .star-rating form .submit-rating {
    border: none;
    outline: none;
    background: #795548;
    color: #ffc107;
    font-size: 18px;
    border-radius: 4px;
    padding: 5px 15px;
    cursor: pointer;
    float: right;
  }

  form .submit-rating:hover {
    background-color: #333;
  }
</style>

<section class="container pt-4">
  <div class="row">
    <div class="col">

      <div class="d-flex flex-column gap-2">
        <h1>{{ event.title }}</h1>

        <div class="d-flex justify-content-between ">
          <h4>{{event.publishd_at}}</h4>

          {% if request.user.is_staff %}
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Edit
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'expos:update_event_view' event.id%}">Update event</a></li>
              <li><a class="dropdown-item" href="{% url 'expos:delete_event_view' event.id %}">Delete event</a></li>
              <li><a class="dropdown-item" href="#">Delete review</a></li>
            </ul>
          </div>
        </div>
        {% endif %}
        <p>{{ event.content }}</p>
      </div>
    </div>
  </div>

  <hr />

  <section class="row" id="rev">
    <div class="col-3">
      <h2>Reviews:</h2>

      <div class="d-flex flex-column gap-2">
        {% for review in reviews %}
        <div class="d-flex flex-column gap-2 border border-1 p-3">
          <h3>{{ review.user.first_name }} {{ review.user.last_name }}</h3>
          <h6> rating:{{ review.rating}}</h6>
          <p>{{ review.comment }}</p>
          <h6 class="text-muted">{{ review.created_at }}</h6>

        </div>
        {% endfor %}
      </div>
    </div>
  </section>


  <section class="row mt-5">
    {% if request.user.is_authenticated %}
    <h2>Add Reviews:</h2>
    <div class="col-5">

      <form class="d-flex flex-column gap-2" action="#" method="POST">
        {% csrf_token %}
        <textarea class="form-control" name="comment" placeholder="Your Review"></textarea>

        <div class="star-rating">
          <div class="thanks-msg">Thanks for your feedback !!!</div>
          <div class="star-input">
            <input type="radio" name="rating" id="rating-5" value="5">
            <label for="rating-5" class="fas fa-star"></label>
            <input type="radio" name="rating" id="rating-4" value="4">
            <label for="rating-4" class="fas fa-star"></label>
            <input type="radio" name="rating" id="rating-3" value="3">
            <label for="rating-3" class="fas fa-star"></label>
            <input type="radio" name="rating" id="rating-2" value="2">
            <label for="rating-2" class="fas fa-star"></label>
            <input type="radio" name="rating" id="rating-1" value="1">
            <label for="rating-1" class="fas fa-star"></label>
          </div>

        </div>
        <span class="rating-reaction"></span>
        <input type="submit" value="Add Review" class="btn btn-primary"></input>
      </form>


    </div>
    {%  else %}

    <p class="p-3 border border-1 ">
      To post a review please <a href="{% url 'accounts:login_view' %}">sign in</a>.
    </p>

    {% endif %}
  </section>





</section>


{% endblock %}