{% extends 'main/base.html' %}

{% block title %} {{ event.title }} {% endblock %}

{% block content %}

<style>
  .card {
    padding: 50px;
    width: 80vw;
    min-height: 670px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 5px 5px 6px #dadada,
      -5px -5px 6px #f6f6f6;
    transition: 0.4s;
    margin: 20px;
    margin-left: 10%;
  }

  /* .card:hover {
  translate: 0 -10px;
} */

  .card-title {
    font-size: 18px;
    font-weight: 600;
    color: #2e54a7;
    margin: 15px 0 0 10px;
  }

  .card-image {
    min-height: 370px;
    background-color: #c9c9c9;
    border-radius: 15px;
    box-shadow: inset 8px 8px 10px #c3c3c3,
      inset -8px -8px 10px #cfcfcf;
  }

  .card-image img {
    border-radius: 15px;

  }

  .card-body {
    margin: 13px 0 0 10px;
    color: rgb(31, 31, 31);
    font-size: 15px;
  }

  .footer {
    float: right;
    margin: 28px 0 0 18px;
    font-size: 13px;
    color: #636363;
  }

  .by-name {
    font-weight: 700;
  }


  button {
    cursor: pointer;
    font-weight: 700;
    font-family: Helvetica, "sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 100px;
    background: #cfef00;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
  }

  button:hover {
    background: #c4e201;
  }

  button>svg {
    width: 34px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
  }

  button:hover svg {
    transform: translateX(5px);
  }

  button:active {
    transform: scale(0.95);
  }

  #button {
    margin-left: 1070px;
  }

  .card-2 {
    background-color: rgba(243, 244, 246, 1);
    padding: 2rem;
    max-width: 320px;
    border-radius: 10px;
    box-shadow: 0 20px 30px -20px rgba(5, 5, 5, 0.24);
    margin: 20px;
    margin-left: 20%;

  }

  .header {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    gap: 1rem;
  }

  .header .image {
    height: 4rem;
    width: 4rem;
    border-radius: 9999px;
    object-fit: cover;
  }

  .stars {
    display: flex;
    justify-content: center;
    grid-gap: 0.125rem;
    gap: 0.125rem;
    color: rgb(255, 201, 63);
  }

  .stars svg {
    height: 1rem;
    width: 1rem;
  }

  .name {
    margin-top: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, 1);
  }

  .message {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-top: 1rem;
    color: rgba(107, 114, 128, 1);
  }

  .star-rating form {
    display: none;

  }

  .star-rating .thanks-msg {
    display: none;
    font-size: 20px;
    margin: 40px auto;
    color: #4caf50;
    background-color: rgba(76, 175, 80, 0.1411764705882353);
    padding: 8px 20px;
    border-left: 3px solid #4caf50;
    border-radius: 20px;
  }

  .star-rating input {
    display: none;
  }

  .star-rating {
    margin: 3px;
    /* display: table; */
    width: 350px;
  }

  .star-rating label {
    padding: 10px;
    float: right;
    font-size: 25px;
    color: #eee;
  }

  .star-rating input:not(:checked)~label:hover,
  .star-rating input:not(:checked)~label:hover~label {
    color: #ffc107;
  }

  .star-rating input:checked~label {
    color: #ffc107;
  }

  .star-rating form .rating-reaction:before {
    width: 100%;
    float: left;
    color: #ffc107;
  }

  .star-rating input:checked~form {
    border-top: 1px solid #ddd;
    width: 100%;
    padding-top: 15px;
    margin-top: 15px;
    display: inline-block;
  }

  .star-rating form .rating-reaction {
    font-size: 24px;
    float: left;
    text-transform: capitalize;
  }

  .star-rating form .submit-rating {
    border: none;
    outline: none;
    background: #795548;
    color: #ffc107;
    font-size: 18px;
    border-radius: 4px;
    padding: 5px 15px;
    cursor: pointer;
    float: right;
  }

  form .submit-rating:hover {
    background-color: #333;
  }


  .subscribe {
    position: relative;
    height: 240px;
    width: 440px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 4px;
    color: #333;
    box-shadow: 0px 0px 60px 5px rgba(59, 59, 59, 0.218);
    margin: 50px;
    margin-left: 650px;
  }

  .subscribe:after {
    position: absolute;
    content: "";
    right: -10px;
    bottom: 18px;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #1a044e;
  }

  .subscribe p {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 28px;
  }

  .subscribe input {
    position: absolute;
    bottom: 30px;
    border: none;
    border-bottom: 1px solid #d4d4d4;
    padding: 10px;
    width: 82%;
    background: transparent;
    transition: all .25s ease;
  }

  .subscribe input:focus {
    outline: none;
    border-bottom: 1px solid #0d095e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', 'sans-serif';
  }

  .subscribe .submit-btn {
    position: absolute;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    background-color: #0f0092;
    color: #FFF;
    padding: 12px 25px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 5px;
    right: -10px;
    bottom: -20px;
    cursor: pointer;
    transition: all .25s ease;
    box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
  }

  .subscribe .submit-btn:hover {
    background-color: #07013d;
    box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569);
  }
</style>
<!-- details Card  -->
<div class="card">
  <div class="card-image">
    <img height="370px" width="1270px" src="{{event.poster.url}}" />
  </div>
  <p class="card-title">{{ event.title }} </p>
  <p class="card-body">{{event.content}}</p>
  <p class="footer">Date: <span class="date">{{event.date}}</span>
    <a style="text-decoration: none;" href="{% url 'expos:reservation_event_view' event.id%}"><button
        id="button"><span>Reservation</span>
        <svg width="34" height="34" viewBox="0 0 74 74" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="37" cy="37" r="35.5" stroke="black" stroke-width="3"></circle>
          <path d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 
        37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 
        38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 
        35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 
        25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 
        27.9289 37.3934 28.5147L45.8787 37L37.3934
         45.4853C36.8076 46.0711 36.8076 47.0208 
         37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 
         39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 
         38.5V35.5L25 35.5V38.5Z" fill="black"></path>
        </svg>
      </button>
    </a>
  </p>
  <p> {% if request.user.is_staff %}
  <div class="dropdown">
    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Edit
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'expos:update_event_view' event.id%}">Update event</a></li>
      <li><a class="dropdown-item" href="{% url 'expos:delete_event_view' event.id %}">Delete event</a></li>
      <li><a class="dropdown-item" href="#">Delete review</a></li>
    </ul>
  </div>
  {% endif %}</p>
</div>
<!--  Add Review -->
<section>
  <div class="subscribe">
    {% if request.user.is_authenticated %}

    <p>Add review</p>
    <form action="#" method="POST">
      {% csrf_token %}
      <textarea class="form-control" name="comment" placeholder="Your Review"></textarea>
      <div class="star-rating">
        <div class="star-input">
          <input type="radio" name="rating" id="rating-5" value="5">
          <label for="rating-5" class="fas fa-star"></label>
          <input type="radio" name="rating" id="rating-4" value="4">
          <label for="rating-4" class="fas fa-star"></label>
          <input type="radio" name="rating" id="rating-3" value="3">
          <label for="rating-3" class="fas fa-star"></label>
          <input type="radio" name="rating" id="rating-2" value="2">
          <label for="rating-2" class="fas fa-star"></label>
          <input type="radio" name="rating" id="rating-1" value="1">
          <label for="rating-1" class="fas fa-star"></label>
        </div>

      </div>
      <span class="rating-reaction"></span>
      <br>
      <input type="submit" value="Add Review" class="submit-btn"></input>

    </form>
  </div>
  {% else %}

  <p class="p-3 border border-1 ">
    To post a review please <a href="{% url 'accounts:login_view' %}">sign in</a>.
  </p>

  {% endif %}
</section>

<!-- users review -->
<section>
  {% for review in reviews %}
  <div class="card-2">

    <div class="header">
      <div class="image"></div>
      <div>
        <div class="stars">
          <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
            </path>
          </svg>
          <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
            </path>
          </svg>
          <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
            </path>
          </svg>
          <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
            </path>
          </svg>
          <svg fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
            </path>
          </svg>
        </div>
        <p class="name">@{{ review.username}}</p>
        <p>
        <h6>{{ review.created_at }}</h6>
        </p>
      </div>
    </div>

    <p class="message">
      {{ review.comment }}
    </p>
  </div>
  {% endfor %}

</section>
{% endblock %}