{% extends 'main/base.html' %}

{% block title %} All Events {% endblock %}

{% block content %}
<style>
    /*  */
    .cont {
        margin-left: 200px;
    }

    .cont hr {
        margin-right: 70px;
    }

    .id-card-holder {
        width: 225px;
        padding: 9px;
        background-color: #ffffff;
        border-radius: 5px;
        position: relative;
    }

    .id-card-holder:after {
        content: '';
        width: 7px;
        display: block;
        background-color: #ffffff;
        height: 100px;
        position: absolute;
        top: 105px;
        border-radius: 0 5px 5px 0;
    }

    .id-card-holder:before {
        content: '';
        width: 7px;
        display: block;
        background-color: #ffffff;
        height: 100px;
        position: absolute;
        top: 105px;
        left: 222px;
        border-radius: 5px 0 0 5px;
    }

    .id-card {

        background-color: #fff;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 0 1.5px 0px #b9b9b9;
    }

    .id-card img {
        margin: 0 auto;
    }

    .header img {
        width: 100px;
        margin-top: 15px;
    }

    .photo img {
        width: 80px;
        margin-top: 15px;
    }

    h2 {
        font-size: 15px;
        margin: 5px 0;
    }

    h3 {
        font-size: 12px;
        margin: 2.5px 0;
        font-weight: 300;
    }

    .qr-code img {
        width: 50px;
    }

    p {
        font-size: 5px;
        margin: 2px;
    }
</style>

<section class="cont pt-4">
    <h1>My tickets:</h1>
    <hr>
    <div class="row  g-4 row-cols-1 row-cols-md-3">
        {% if reservation.count == 0 %}
        <div class="alert alert-info">You don't have any tickets yet.</div>
        {% endif %}
        {% for ticket in reservation %}

        <div class="id-card-holder">
            <div class="id-card">
                <div class="header">
                    <img src="{{ ticket.event.poster.url }}">
                </div>
                <div class="photo">
                    <img src="/static/images/barr.jpeg">
                </div>
                <h2>{{ticket.event.title }}</h2>
                <div class="qr-code">

                </div>
                <h3>Name : {{ticket.user.first_name}} {{ticket.user.last_name}}</h3>
                <hr>
                <h3> location : Saudi Arabia - Riyadh</h3>

                <p><strong>Saudi arabia</strong> Expo 2030
                <p>
                <p>SA: +966 5656656565</p>
                <h5>{% if new_reservation %} {{new_reservation.total}} {% endif %}</h5>

            </div>
        </div>
        {% endfor %}

</section>

{% endblock %}