{% extends 'main/base.html' %}
{% block title%} عرض المواعيد {%endblock%}

{% block content %}
<section class="container">
    <h1>جميع المواعيد</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">اسم الطبيب</th>
                <th scope="col">اسم العيادة</th>
                <th scope="col">تاريخ الموعد</th>
                <th scope="col">إجراءات</th>
            </tr>
        </thead>
<tbody>
    {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.doctor.user.username }}</td>
            <td>{{ appointment.clinic.name }}</td>  <!-- Display the clinic of the appointment -->
            <td>{{ appointment.date }}</td>
            <td>
                <form method="post" action="{% url 'hospitall:delete_appointment' appointment.id %}">
                    {% csrf_token %}
                    <input type="submit" value="حذف الموعد">
                </form>
            </td>
        </tr>
    {% endfor %}
</tbody>
    </table>
</section>
{% endblock %}
