{% extends 'main/base.html' %}
{% block title%}View appointments{%endblock%}

{% block content %}
<style>
    body {
        background-image: url('/static/img/9099.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        /* Add these lines */
        height: 100vh;  /* vh is a percentage of the viewport height */
        margin: 0;  /* Remove default margin */
        padding: 0;  /* Remove default padding */
    }
    .container {
        margin-top: 1px; 
    }
    
    .mt-1 {
        margin-top: -10px !important;
    }
    footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f9fa;
    color: white;
    text-align: center;
}

    </style>
<section class="container mt-3">
    <h1 class="mb-1">All appointments</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Doctor's name</th>
                <th scope="col">Clinic name</th>
                <th scope="col">Appointment date</th>
                <th scope="col">Email</th>  <!-- New column for email -->
                <th scope="col">Delete</th>
            </tr>
        </thead>
<tbody>
    {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.doctor.user.username }}</td>
            <td>{{ appointment.clinic.name }}</td>  <!-- Display the clinic of the appointment -->
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.user.email }}</td>  <!-- Display the email of the user -->
            <td>
                <form method="post" action="{% url 'hospitall:delete_appointment' appointment.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete appointment</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</tbody>
    </table>
</section>
{% endblock %}
