{% extends 'main/base.html' %}
{% block title%}View appointments{%endblock%}

{% block content %}
<style>
    body {
        background-image: url('/static/img/9099.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container {
        margin-top: 1px; 
    }
    
    .mt-1 {
        margin-top: -30px !important;
    }
    </style>
<section class="container mt-3">
    <h1 class="mb-1">All appointments</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Doctor's name</th>
                <th scope="col">Clinic name</th>
                <th scope="col">Appointment date</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
<tbody>
    {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.doctor.user.username }}</td>
            <td>{{ appointment.clinic.name }}</td>  <!-- Display the clinic of the appointment -->
            <td>{{ appointment.date }}</td>
            <td>
                <form method="post" action="{% url 'hospitall:delete_appointment' appointment.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Delete appointment</button>
                </form>
            </td>
        </tr>
    {% endfor %}
</tbody>
    </table>
</section>
{% endblock %}
