{% extends 'main/base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <!-- Display the clinic image -->
            <img src="{{ clinic.image.url }}" class="img-fluid rounded clinic-image" alt="{{ clinic.name }}">  <!-- add the clinic-image class -->
        </div>
        <div class="col-md-6">
            <!-- Display the clinic name -->
            <h2 class="my-3">{{ clinic.name }}</h2>
            <!-- Display the info -->
            <p>{{ info }}</p>
        </div>
    </div>
</div>
{% endblock %}
