{% extends 'main/base.html' %}
{% block title%} عرض العيادات {%endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="list-group">
                {% for clinic in clinics %}
                    <a href="{% url 'hospitall:clinic_detail_view' clinic.id %}" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ clinic.name }}</h5>
                        </div>
                        <p class="mb-1">اضغط لمشاهدة التفاصيل</p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
