{% extends 'main/base.html' %}

{% block content %}
<style>
    .list-group-item {
        transition: all 0.3s ease;
    }

    .list-group-item:hover {
        transform: scale(1.02);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    .list-group-item .text-muted {
        font-size: 0.8rem;
    }

    .clinic-image {
        max-width: 100%;
        max-height: 200px;
        width: auto;
        height: auto;
    }

    .card {
        border: none;
        border-radius: 20px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

    .card:hover {
        transform: scale(1.02);
    }

    body {
        background-image: url('/static/img/9099.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>
<div style="display: flex; align-items: center;">
    <hr style="flex-grow: 1; border-width: 9px;">
    <span style="margin: 0 10px; font-family: 'Times New Roman', serif; font-size: 2em; font-weight: bold;">ALL CLINIC</span>
    <hr style="flex-grow: 1; border-width: 9px;">
  </div>
<div class="container">
    <div class="row">
        {% for clinic in clinics %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="{% url 'hospitall:clinic_detail_view' clinic.id %}">
                        <img class="card-img-top clinic-image" src="{{ clinic.image.url }}" alt="{{ clinic.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ clinic.name }}</h5>
                            <small class="text-muted">Click here to view details</small>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

