{% extends 'main/base.html' %}

{% block content %}
<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        background-color: #ffffff;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .btn {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .btn:hover {
        transform: scale(1.02);
    }
</style>
<section class="container py-5 mt-5">
    <h2 style="color: #6c757d;">إضافة عيادة جديدة</h2>
    <form method="post" enctype="multipart/form-data" style="font-size: 1.2em;">
        {% csrf_token %}

        <!-- Input for clinic name -->
        <div class="form-group">
            <label for="clinic_name">اسم العيادة:</label>
            <input type="text" id="clinic_name" name="clinic_name" class="form-control">
        </div>

        <!-- Input for clinic image -->
        <div class="form-group">
            <label for="clinic_image">صورة العيادة:</label>
            <input type="file" id="clinic_image" name="clinic_image" class="form-control-file">
        </div>

        <!-- Dropdown menu for selecting a doctor -->
        <div class="form-group">
            <label for="doctor_user">اسم الطبيب:</label>
            <select id="doctor_user" name="doctor_user" class="form-control">
                {% for doctor in doctors %}
                    <option value="{{ doctor.user.id }}">{{ doctor.user.username }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn">إضافة</button>
    </form>
    {% if error_message %}
        <div class="alert alert-danger mt-3" role="alert">
            {{ error_message }}
        </div>
    {% endif %}
</section>
{% endblock %}
