{% extends 'main/base.html' %}
{% block title%}Appointment Booking{%endblock%}

{% block content %}
<style>
    body {
        background-image: url('/static/img/9099.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .btn {
        background-color: #007bff;
        color: white;
        
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .btn:hover {
        transform: scale(1.02);
    }
    footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f9fa;
    color: white;
    text-align: center;
}


</style>

<h1 class="mb-4">Appointment Booking</h1>

<form method="post" action="{% url 'hospitall:create_appointment' %}" style="font-size: 1.2em;">
    {% csrf_token %}

    <div class="form-group">
        <label for="clinic">Choose the clinic:</label>
        <select name="clinic" id="clinicSelect" class="form-control">
            {% for clinic in clinics %}
                <option value="{{ clinic.id }}">{{ clinic.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group">
        <label for="date">Choose the clock and time:</label>
        <input type="datetime-local" name="date" id="date" class="form-control" required>
    </div>

    <div class="form-group">
        <label for="sendEmail">Do you want to send the appointment via email?</label>
        <input type="checkbox" id="sendEmail" name="sendEmail" value="yes">
    </div>

    <input type="submit" value="Appointment Booking" class="btn">
</form>

{% endblock %}
