{% extends 'main/base.html' %}
{% block title%}Appointment Booking{%endblock%}

{% block content %}
<style>
    body {
        background-image: url('/static/img/9099.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .container {
        background-color: #f8f9fa;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .btn {
        background-color: #007bff;
        color: white;
        
        border: none;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .btn:hover {
        transform: scale(1.02);
    }
</style>
<section class="container py-5 mt-5">
    <h1 class="mb-4">Appointment Booking</h1>

    <form method="post" action="{% url 'hospitall:create_appointment' %}" style="font-size: 1.2em;">
        {% csrf_token %}

        <div class="form-group">
            <label for="clinic">Choose the clinic:</label>
            <select name="clinic" id="clinicSelect" class="form-control">
                {% for clinic in clinics %}
                    <option value="{{ clinic.id }}">{{ clinic.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="date">Choose the clock and time:</label>
            <input type="datetime-local" name="date" id="date" class="form-control" required>
        </div>

        <input type="submit" value="Appointment Booking" class="btn">
    </form>
</section>
{% endblock %}
