{% extends 'main/base.html' %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
<style>
        body {
        background-image: url('/static/img/9099.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="container py-5 mt-1">
    <div class="card">
        <div class="card-header text-center" style="font-family: 'Satisfy', cursive; color: #6c757d; font-size: 2em;">
            Adding a new clinic
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="clinic_name">Clinic name</label>
                    <input type="text" id="clinic_name" name="clinic_name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="clinic_image">Clinic photo</label>
                    <input type="file" id="clinic_image" name="clinic_image" class="form-control-file">
                </div>
                <div class="form-group">
                    <label for="doctor_user">Doctor's name</label>
                    <select id="doctor_user" name="doctor_user" class="form-control">
                        {% for doctor in doctors %}
                            <option value="{{ doctor.user.id }}">{{ doctor.user.username }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Addition</button>
            </form>
            {% if error_message %}
                <div class="alert alert-danger mt-3" role="alert">
                    {{ error_message }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
