{% extends 'main/base.html' %}
{% load static %}

{% block title %}
Doctor
{% endblock %}

{% block content %}
<style>
    body {
        background-image: url('/static/img/434.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Arial, sans-serif;
    }

    .title-bar {
        display: flex;
        align-items: center;
        margin-top: -70px;
        color: #007bff;
    }

    .title-bar hr {
        flex-grow: 1;
        border-width: 9px;
        border-color: #007bff;
    }

    .title-bar span {
        margin: 0 10px;
        font-size: 2em;
        font-weight: bold;
    }

    .card {
        width: 100%;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0,0,0,0.15);
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .card:hover {
        transform: scale(1.02);
    }

    .card img {
        object-fit: cover;
        height: 200px;
    }

    .card-body {
        background-color: #f8f9fa;
        padding: 20px;
    }

    .card-title {
        margin-bottom: 15px;
        color: #333;
        font-size: 1.5em;
    }

    .card-text {
        color: #666;
        line-height: 1.6;
    }
       

        .card img {
        object-fit: cover;  
        height: 200px;
        width: 100%;  
    }

        .card img {
        object-fit: contain;  
        height: 200px;
        width: 100%; 
    }


</style>

<section class="container">
    <div class="title-bar">
        <hr>
        <span>All Doctors</span>
        <hr>
    </div>
    <div class="row justify-content-center">
        {% for doctor in doctors %}
            <div class="col-lg-5 m-2">
                <div class="card">
                    {% if doctor.image %}
                        <img src="{{ doctor.image.url }}" class="card-img-top" alt="{{ doctor.user.username }}">
                    {% else %}
                        <img src="{% static 'images/default.jpg' %}" class="card-img-top" alt="Default Image">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ doctor.user.username }}</h5>
                        <p class="card-text">{{ doctor.specialty }}</p>
                        <p class="card-text">Years of Experience: {{ doctor.experience }}</p>
                        <p class="card-text">{{ doctor.cv }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}