{%extends "main/base.html"%}

{% block title%} Add Objective {% endblock %}

{% block section %} Add Objectives {% endblock %}
{% block content %}
<div class="container"> 
    <div class="row">

        <div class="col-9">
            <form action="{% url 'objectives:add_view' %}" method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInputDisabled" name="name" placeholder="name@example.com" >
                    <label for="floatingInputDisabled">Name objective</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="Leave a comment here" name="description" id="floatingTextareaDisabled" ></textarea>
                    <label for="floatingTextareaDisabled">description objective </label>
                </div>
                <label>Category</label>
                {% for key, value in categories.choices %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="category" id="{{key}}" value="{{value}}" required>
                    <label class="form-check-label" for="{{key}}">
                    {{value}}
                    </label>
                </div>
                {% endfor %}


                <div class="pt-3">
                    <h6> poster uplode</h6>
                    <input type="file" name="poster"  class="form-control" accept="image/*"/>
                </div>

                <input class="btn btn-primary mt-3" type="submit" value="Add objective" />

            </form>
        </div>

    </div>
</div>
{% endblock %}