{% extends "main/base.html" %}
{% block title%} My order  {% endblock %}

{% block section %} My orderes {% endblock %}


{% block content %}

<section class="container pt-4">

    {% if orders.count == 0 %}
    <div class="alert alert-info">You don't have any orders yet.</div>
   {% endif %}


    <div class="row  g-4 row-cols-1 row-cols-md-3">

        {% for order in orders %}
            <div class="col">
                <div class="card" >
                    <img src="{{order.objective.poster.url}}" class="card-img-top img-card" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{order.objective.name}}</h5>
                      <h4>Duration </h4>
                      <div class="d-flex justify-content-start gap-2">
                        
                            <p class="card-text">day: {{order.day}}</p>
                            <p class="card-text">hour: {{order.hour}}</p>
                        </div>
                        <div >
                            <p> from: {{order.created_at}} </p>
                        </div>
                      





                    </div>
                  </div>
            </div>
            

        {% endfor %}

    </div>

</section>

{% endblock %}
