{% extends "main/base.html" %}
{% block title%} My Objectives {% endblock %}

{% block section %} My Objectives {% endblock %}


{% block content %}

<section class="container pt-4">

    <div class="d-flex justify-content-between">
    <h1>count my objectives ({{obj_count}})</h1>


    </div>


    <div class="row  g-4 row-cols-1 row-cols-md-3">

        {% for obj in objs %}

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{obj.poster.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{obj.name}}</h5>
                      <p class="card-text">{{obj.description}}</p>
                      <div class="d-flex justify-content-between">
                        <a href="{% url 'objectives:update_objective_view' obj.id %}" class="btn btn-info">Update</a>
                        <a href="{% url 'objectives:delete_objective_view' obj.id %}" class="btn btn-danger">Delete</a>
                      </div>



                    </div>
                  </div>
            </div>
            


        {% endfor %}

    </div>

</section>

{% endblock %}