{% extends "main/base.html" %}
{% block title%} Show Objectives {% endblock %}

{% block section %} Show Objectives {% endblock %}


{% block content %}

<section class="container pt-4">




    <div class="row  g-4 row-cols-1 row-cols-md-3">

        {% for obj in objs %}
        {% if obj.reserved == False %}

            <div class="col">
                <div class="card" >
                    <img src="{{obj.poster.url}}" class="card-img-top img-card" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{obj.name}}</h5>
                      <p class="card-text"> {{obj.description}} </p>
                      {% if request.user.is_authenticated %}
                      <a href="{% url 'objectives:objective_order_view' obj.id %}" class="btn btn-primary">Order</a>
                      {% endif %}
                    </div>
                  </div>
            </div>
            

            {% endif %}

        {% endfor %}

    </div>

</section>

{% endblock %}