{% extends 'main/base.html' %}

{% block title %} Register New User {% endblock %}


{% block content %}

<section class="container mt-5">
    <h1>Register New User</h1>
    <div class="row">
    
        <div class="col-6">

            <form class="d-flex flex-column gap-1" action="{% url 'accounts:register_view' %}" method="post">
                {% csrf_token %}

                <input class="form-control" type="text" name="username" required minlength="4" placeholder="username"/>
                <input class="form-control"  type="text" name="first_name" required minlength="3" placeholder="First Name"/>
                <input class="form-control" type="text" name="last_name" required minlength="3" placeholder="Last Name"/>
                <input class="form-control" type="email" name="email" required minlength="4" placeholder="Email"/>
                <input class="form-control" type="password" name="password" required minlength="8" placeholder="Password"/>


                <input class="btn btn-primary" type="submit" value="Sing Up" />
            </form>

        </div>

    </div>

</section>

{% endblock %}