{% extends 'main/base.html' %}
{% load static %}
{% block title %} About Us - Car Rental {% endblock %}

{% block content %}

<section class="container mt-4">

    <div class="row">

        <div class="col-lg-8">
            <!-- About Us Section -->

            <div class="card">
                <div class="card-body">

                    <h2 class="card-title mb-4">Welcome to CAR RENATL</h2>

                    <p>
                        CAR RENTAL is your premier destination for reliable and convenient car rentals. Our mission is to provide top-notch service, a diverse fleet of vehicles, and a seamless rental experience.
                    </p>

                    <h4 class="card-subtitle mt-4">Our Services</h4>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Explore our diverse fleet of cars, including sedans, SUVs, vans, and luxury vehicles.</li>
                        <li class="list-group-item">We offer flexible rental options, whether you need a car for a day, a week, or longer. Check out our special packages and promotions.</li>
                    </ul>

                    <h4 class="card-subtitle mt-4">Booking Process</h4>

                    <p>
                        Experience hassle-free booking through our user-friendly website. Our reservation system is designed to make renting a car quick and easy.
                    </p>

                    <!-- Add more sections as needed -->

                    <h4 class="card-subtitle mt-4">Customer Experience</h4>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Our customer support team is available to assist you. Reach out to us with any questions or concerns.</li>
                        <li class="list-group-item">Read what our satisfied customers are saying in our testimonials section.</li>
                    </ul>

                    <h4 class="card-subtitle mt-4">Quality and Safety</h4>

                    <p>
                        At CAR RENTAL, we prioritize the quality and safety of our fleet. Our vehicles are well-maintained, clean, and equipped with the latest safety features.
                    </p>

                    <!-- Add more sections as needed -->

                    <h4 class="card-subtitle mt-4">Contact Us</h4>

                    <p>
                        Ready to rent a car with us? Contact us at [contact@bootstrap.com] or [+ 996 5555 5555]. Visit our [Contact Page] for more information.
                    </p>

                    <p>
                        We look forward to serving you and making your car rental experience exceptional!
                    </p>

                </div>
            </div>

        </div>

    </div>

</section>

{% endblock %}
