{% extends 'main/base.html' %}
{% load static %}
{% block title %} About Us{% endblock %}

{% block content %}

<div class="d-flex m-0 p-0">
    <div class="service-item" id="all">
        <h1>SOMETHING ABOUT CAR RENTAL</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non blandit nunc. Nullam ultrices mi et
            justo ullamcorper, vel condimentum neque efficitur. Suspendisse potenti. Sed quis tortor vitae ex
            bibendum consectetur.
        </p>
        <!-- Add more content or styling as needed -->
    </div>
</div>


{% endblock %}