{% extends 'main/base.html' %}
{% block title %} Rent {% endblock %}
{% block content %}
<div class="container_rent">
    {% if error_message%}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
      </div>
      {%endif%}
      {% if msg %}
      <div class="alert alert-danger" role="alert">
          {{ msg }}
        </div>
        {%endif%}
    <h2 class="h2_rent">Rent Property</h2>
    <form action="{%url 'property:rental_property_view' rental.id %}" method="POST">
        {% csrf_token %}
        <label class="label_rent" for="rent_from">Rent From:</label>
        <input class="input_rent" type="date" id="rent_from" name="rent_from" required>

        <label class="label_rent" for="rent_to">Rent To:</label>
        <input class="input_rent" type="date" id="rent_to" name="rent_to" required>

        <input class="input_rent_submit input_rent_hover" type="submit" value="Rent Property">
    </form>
</div>




{%endblock%}