{% extends 'main/base.html' %}

{% block title %} Contact us {% endblock %}

{% block content %}


<div class="d-flex justify-content-between text-center">
    <h1 class="display-3 mt-3 p-3">
      Contact us
      </h1>
</div>
<hr/>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="social-links">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
              </div>

        </div>
        <div class="col">
            <ul>
                <li><a href="tel:+966562736534">Tel:+966 57263883764</a></li>
                <li><a href="mailto:sufanamarouf@gmail.com">Email:info@Evento.sa</a></h2>
                </a></li>
                <li><a href="https://www.google.com/maps/place/Riyadh/@24.7254554,46.4928685,10z/data=!3m1!4b1!4m6!3m5!1s0x3e2f03890d489399:0xba974d1c98e79fd5!8m2!3d24.7135517!4d46.6752957!16zL20vMGRsbV8?entry=ttu">Riyadh, Saudi Arabia</a></li>
              </ul>
      

        </div>

    </div>
    
</div>
       
<div class="container">
    <div class="row">
        <div class="col">
            {% if email_sent %}
                <h3>We received your message.</h3>
            {% else %}
            <form action="{% url 'emails:contact_us_view' %}" method="POST">
                {% csrf_token %}
                <input class="form-control m-2" type="text" name="name" required minlength="3" placeholder="Name"/>
                <input class="form-control m-2" type="email" name="email" required minlength="5" placeholder="email"/>
                <textarea name="message" placeholder="write message"></textarea>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <input class="btn btn-success" type="submit" value="send"/>
                </div>
            </form>
            {% endif %}
            

        </div>

    </div>

</div>




{% endblock %}

