{% extends 'main/base.html' %}
{% load static %}

{%block title%} Add Service {%endblock%}

{% block contant %}
    <div class="container_services p-4">
        <h1 class="contents"> Add New Service {{stable.name}}</h1>
        <div class="row">
            <div class="col-4">

                <form action="{% url 'horses:add_services_view' stable.id %}" method="POST" class="d-flex flex-column gap-2">
                    {% csrf_token %}

                    <label> Name service</label>
                    <input class="form-control" name="name_Servic" type="text" required minlength="4"/>
                    
                    <label>Description</label>
                    <input class="form-control" name="description_Servic" type="text" required minlength="10"/>

                    <label>Duration Service</label>
                    <input class="form-control" name="duration_service" type="text" required placeholder="1 week or day "/>

                    <label>Price</label>
                    <input class="form-control" name="price" type="text" required />
                

                    <input class="btn btn-primary" type="submit" value="Add Service" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}