{% extends 'main/base.html' %}
{% load static %}

{%block title%} Stable Horses {%endblock%}

{% block contant %}
<section class="container_services p-2">
    <h1 class="contents"> Horse Sense offers you the best stables so you can live a different experience</h1>
    <div class="row row-cols-1 row-cols-md-3 p-4">
        {% for stable in stables %}
            <div class="col p-4">
               <div class="d-flex flex-column gap-2  border border-3 rounded-4 h-100 justify-content-start">
            
                    <img class="imgStable" src="{{stable.img.url}}" />
                    <a class="text-decoration-none p-1 link1" href="{% url 'horses:stable_details_view' stable.id %}" ><h3> {{stable.name}}</h3></a>
                    <h3 class="p-1">{{stable.city}}</h3>
                    
                    <h3 class="p-1">{{stable.rating}} ★ </h3>
                </div>
            </div>


        {%endfor%}

                 
    </div>

</section>



{%endblock%}