{% extends 'main/base.html' %}
{%load static %}
{% block title %}Add Product{% endblock%}
{% block content%}
<div class="container">
<div class="row">
<div class="col">
    <form action="{% url 'products:add_product' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Name:</label>
        <input class="form-control" type="text" name="name" placeholder="Name of product" />
        <label>Description:</label>
        <textarea class="form-control" name="description"></textarea>
        <label>Price:</label>
        <input class="form-control" type="number" name="price" placeholder="Price of product" />
        <label>brand:</label>
        <input class="form-control" type="text" name="brand" placeholder="Brand of product"/>
        <label>Category</label>
        {% for key, value in categories.choices %}
        <div class="form-check">
            <input class="form-check-input" type="radio" name="category" id="{{key}}" value="{{value}}">
            <label class="form-check-label" for="{{key}}">{{value}}</label>
        </div>
        {% endfor %}
        <label>image:</label>
        <input type="file" name="image"  class="form-control" accept="image/*"/>
        <input class="btn btn-success mt-4" type="submit" value="Add Product" />
    
    
    </form>
    </div>
</div>
</div>
</div>
{% endblock %}