{% extends "main/base.html" %}

{% block title%} New register {% endblock %}

{% block section %} New register {% endblock %}

{% block content %}
<div class="container">
  {% if msg %}
  <div class="alert alert-danger" role="alert">
    {{ msg }}
{% endif %}
<form class="row g-3 needs-validation" action="{% url 'accounts:register_user_view' %}" method="post" novalidate>
    {% csrf_token %}
    <div class="col-md-4 position-relative">
      <label for="validationTooltip01" class="form-label">First name</label>
      <input type="text" class="form-control" id="validationTooltip01" value="" name="first_name" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 position-relative">
      <label for="validationTooltip02" class="form-label">Last name</label>
      <input type="text" class="form-control" id="validationTooltip02" value="" name="last_name" required>
      <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-4 position-relative">
      <label for="validationTooltipUsername" class="form-label">Username</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
        <input type="text" class="form-control" id="validationTooltipUsername" aria-describedby="validationTooltipUsernamePrepend" name="username" required>
        <div class="invalid-tooltip">
          Please choose a unique and valid username.
        </div>
      </div>
    </div>
    <div class="col-md-6 position-relative">
      <label for="validationTooltip03" class="form-label">Password</label>
      <input type="password" class="form-control" id="validationTooltip03" name="password" required>
      <div class="invalid-tooltip">
        Please provide a valid password.
      </div>
    </div>
    <div class="col-md-6 position-relative">
        <label for="validationTooltip03" class="form-label">Email</label>
        <input type="email" class="form-control" id="validationTooltip03" name="email" required>
        <div class="invalid-tooltip">
          Please provide a valid email .
        </div>
      </div>
      <div class="col-md-6 position-relative">
        <label for="validationTooltip03" class="form-label">phone number</label>
        <input type="phone" class="form-control" id="validationTooltip03" required>
        <div class="invalid-tooltip">
          Please provide a valid phone number .
        </div>
      </div>

      <label>City</label>
      {% for key, value in cities.choices %}
      <div class="form-check">
          <input class="form-check-input" type="radio" name="city" id="{{key}}" value="{{value}}" required>
          <label class="form-check-label" for="{{key}}">
          {{value}}
          </label>
      </div>
      {% endfor %}


      </select>
      <div class="invalid-tooltip">
        Please select a valid City.
      </div>

    </div>
    <div class="col-12">
      <button class="btn btn-primary mt-3" type="submit">Submit form</button>
    </div>
  </form>
</div>

{% endblock %}
