{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>  {% block title %} Tanfeethi VIP {% endblock %}  </title>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body class="bg-light">


<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex align-items-center">
      <!-- Brand -->
      <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="{% url 'main:home_view' %}">
        <img src="/static/images/logo.png" height="60"alt="MDB Logo" loading="lazy" style="margin-top: 2px; border-radius: 50px;"/>
      </a>
      <ul class="navbar-nav flex-row d-none d-md-flex">
        <li class="nav-item me-3 me-lg-1 active">
          <a class="nav-link" href="{% url 'main:home_view' %}">Home </a>
        </li>
  {%if request.user.is_staff%}
        <li class="nav-item me-3 me-lg-1">
          <a class="nav-link" href="{% url 'main:add_trip_view' %}">Add Trip
            <span><i class="fas fa-flag fa-lg"></i></span>
          </a>
        </li>
    {% endif %}
    </div>
    <!-- Left elements -->

    <!-- Center elements -->

      <!-- Search form -->
      <form role="search" action="{% url 'main:search_view' %}" method="get" >
        <input name="search" class="form-control" type="search" placeholder="Search" aria-label="Search">
  
      </form>
   

    <!-- Center elements -->

    <!-- Right elements -->
    <ul class="navbar-nav flex-row align-items-center">
      <li class="nav-item me-3 me-lg-1">
         
      {% if not request.user.is_authenticated %}
        <a class="nav-link d-sm-flex align-items-sm-center" href="{% url 'account:register_view' %}"><span class="material-symbols-outlined">account_circle </span><br> </a>
        {% else %}
         <a href="{% url 'account:profile_view' request.user.id %}"> <strong class="d-none d-sm-block ms-1">@{{request.user.first_name}} </strong></a>
        
<li class="nav-item">
  <a class="nav-link " href="{% url 'account:logout_view' %}"><span class="material-symbols-outlined">logout</span><br>  </a>
</li>

{% endif %}

      </li>

    <!-- Right elements -->
  </div>
</nav>



{% block content %} 
 {% endblock %}

    
 </body>
 </html>