{% extends 'main/base.html' %}

{% block title %} All Arts {% endblock %}
{% block content %}
<div class="row  g-4 row-cols-1 row-cols-md-3">

    {% for art in arts %}

        <div class="col">
            <div class="art-card d-flex flex-column gap-6 p-0 border border-1 shadow h-100 overflow-hidden justify-content-start">
                <img class="poster" src="{{art.poster.url}}" />
                <div class="p-3 d-flex justify-content-between align-items-center">
                    <div class="d-flex gap-1">
                        <span class="title ps-3 pe-3 bg-secondary rounded-pill text-white">{{art.title}}</span>
                        
                    </div>

                    
                </div>
                <div class="p-3 d-flex flex-column">
                    <a class=" text-decoration-none" href="{% url 'Art:art_detail_view'  art.id %}"><h2>{{ art.title }}</h2></a>

                </div>
            </div>
        </div>
        


    {% endfor %}

</div>

</section>

{% endblock %}



