


{% extends 'main/base.html' %}


{% block title %} Update {{ art.title }}{% endblock %}


{% block content %}
    <div class="container mt-5"> 

        <div class="row">
            <h2>Update {{art.title}}:</h2>
            <div class="col">

                <form action="{% url 'Art:update_art_view' art.id %}" method="POST">

                    {% csrf_token %}
                
            
                <label> Art title</label>
                <input class="form-control" name="title" type="text" value="{{art.title }}" />

                <input class="btn btn-primary mt-2" type="submit" value="Update Art" />
            

                </form>

            </div>
        </div>

    </div>
{% endblock %}






