{% extends 'main/base.html' %}

{% block title %} About us {% endblock %}

{% block content %}


<div class="text-center">
    <h1 class="display-3 mt-3 p-3 text-center">
      About us
      </h1>
</div>
<hr/>

<div class="container1 m-5 p-3 shadow-sm p-3 mb-5 bg-body-tertiary rounded p-3 mb-2 bg-warning-subtle text-emphasis-warning">
    <div class="row">
        <div class="col-12">
            <h1 class="display-5">Summary</h1>
            <hr>
            <p>Evento is a website where you can browse events, make online reservations, and register all in one place. </p>
        </div>
        <div class="col-12 ">
            <h1 class="display-5">Features</h1>
            <hr>
            <p>Evento website have many features which are:</p>
            <ol>
                <li >Regestarions</li>
                <li >Booking online</li>
                <li >Explore various events</li>
                <li >You can add reviews & favour events</li>
            </ol>
            


        </div>
        <div class="col-12 m-3">
            <h1 class="display-5">Common questions</h1>
            <hr>
            <p>These frequently asked questions may help you look for the information you need.</p>
            <ol>
                <li class="display-6">What is Evento?</li>
                <p>Evento is an online website that you can find all the events and make online reservation.</p>
                <li class="display-6">How to book a ticket ?</li>
                <p>Select "All Events" from the menu bar above, then select the event you want, scroll down the page, select the number of tickets and make a free reservation.</p>
                <li class="display-6">How to see my tickets ?</li>
                <p>You may access your tickets from your profile page.</p>
                <li class="display-6">Are tickets for free?</li>
                <p>Yes, all tickets in our website for free booking.</p>
            </ol>
            

        </div>

    </div>

</div>

       



{% endblock %}

