{% extends 'main/base.html' %}
{% load static %}


{% block title %} main {% endblock %}


{% block content %}

<div class="test  d-flex justify-content-center align-items-center m-4">
  <div class="row">
    <div class="col">
      <h1 class="d-flex justify-content-center align-items-center logo animate__animated animate__bounce">Evento</h1>
      <h1 class="text-center m-5 animate__animated animate__bounce">Don't just watch events, be in them.</h1>
      <form role="search" action="{% url 'events:search_page_view' %}" method="GET">
        <input name="search" class="form-control" type="search" placeholder="Search" aria-label="Search">
      </form>
    </div>
  </div>
</div>



<hr/>


<div class="box m-4">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="display-3 mb-3">Upcoming Events</h1>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Events
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'events:new_events_view' %}">Latest Events</a></li>
        <li><a class="dropdown-item" href="{% url 'events:old_events_view' %}">Earliest Events</a></li>
        <li><a class="dropdown-item" href="{% url 'events:events_home_view' %}">All Events</a></li>
      </ul>
    </div>
  </div>
  <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
    <div class="col">
      <div class="card p-3 border border-warning" style="width: 18rem;">
        <img src="{% static 'images/black-hat.jpg' %}" class="card-img-top" alt="the black hat">
        <div class="card-body">
          <h6 class="fst-italic">The Black Hat</h6>
          <p class="card-text">The Black Hat event is a series of highly technical information security conferences that bring together from all world.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card p-3 border border-warning" style="width: 18rem;">
        <img src="{% static 'images/art-eve-background.jpg' %}" class="card-img-top" alt="art">
        <div class="card-body">
          <h6 class="fst-italic">The Misk Art Week</h6>
          <p class="card-text">The Misk Art Week is a major annual event held in Riyadh, Saudi Arabia, to celebrating the arts and fostering creativity.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card p-3 border border-warning" style="width: 18rem;">
        <img src="{% static 'images/art1.jpg' %}" class="card-img-top" alt="art event">
        <div class="card-body">
          <h6 class="fst-italic">The Diriyah Biennale </h6>
          <p class="card-text">The Diriyah Biennale is a non-profit organization with the goal of fostering artistic expression and appreciation</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card p-3 border border-warning" style="width: 18rem;">
        <img src="{% static 'images/noor-ryd1.jpg' %}" class="card-img-top" alt="noor Riyadh">
        <div class="card-body">
          <h6 class="fst-italic">Noor Riyadh Festival</h6>
          <p class="card-text">Noor Riyadh is an annual citywide festival of light and art that illuminates the capital of Saudi Arabia, Riyadh. .</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card p-3 border border-warning" style="width: 18rem;">
        <img src="{% static 'images/enter-eve.jpg' %}" class="card-img-top" alt="entertainment event">
        <div class="card-body">
          <h6 class="fst-italic">Boulevard World</h6>
          <p class="card-text">Boulevard World, also known as BLVD World, is a seasonal entertainment zone and located in Riyadh, Saudi Arabia.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
<h1 class="display-3 text-center">Top reviews</h1>

<div class="container1 shadow p-3 mb-5 bg-body-tertiary rounded">
  <div class="row">
    {% for review in reviews %}
      <div class="col shadow p-3 mb-5 bg-body-tertiary rounded m-3 p-3 text-warning-emphasis bg-warning-subtle border border-warning-subtle rounded-3">
        <a href="{% url 'events:event_details_view' review.event.id %}" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><h6>{{ review.event.title }}</h6></a>
        <h6>Comment by : {{ review.user.first_name }}</h6></a>
        <p>{{ review.comment }}</p>
        <div class="d-flex gap-1 align-items-center">
          <h6 class="p-0 m-0">{{ review.rating }}</h6>
          <span class="material-symbols-outlined">grade</span>
      </div>
    </div>
    {% endfor %}

  </div>
</div>



<hr/>

<div class="box">
  <h1 class="display-1 text-center m-4">Events</h1>
  <div class="row d-flex justify-content-evenly">
    <div class="polaroid">
      <img src="{% static 'images/art-eve-background.jpg' %}" alt="5 Terre" style="width:100%">
      <div class="container">
      <p class="para">Art Events</p>
      <a class="btn btn-outline-secondary" href="{% url 'events:events_home_view_catego' 'Art' %}">Discover</a>
      </div>
    </div>
    
    <div class="polaroid">
      <img src="{% static 'images/black-hat1.jpg' %}" alt="Norther Lights" style="width:100%">
      <div class="container">
      <p class="para">Technology Events</p>
      <a class="btn btn-outline-secondary" href="{% url 'events:events_home_view_catego' 'Technology' %}">Discover</a>
      </div>
    </div>

    <div class="polaroid">
      <img src="{% static 'images/noor-ryd1.jpg' %}" alt="5 Terre" style="width:100%">
      <div class="container">
      <p class="para">Exclusive Events</p>
      <a class="btn btn-outline-secondary" href="{% url 'events:events_home_view_catego' 'Exclusive' %}">Discover</a>
      </div>
    </div>
    
    <div class="polaroid">
      <img src="{% static 'images/enter-eve.jpg' %}" alt="Norther Lights" style="width:100%">
      <div class="container">
      <p class="para">Entertainment Events</p>
      <a class="btn btn-outline-secondary" href="{% url 'events:events_home_view_catego' 'Entertainment' %}">Discover</a>
      </div>
    </div>

  </div>
</div>



{% endblock %}