{% extends "main/base.html" %}

{% block title%} Home {% endblock %}

{% block section %} Home {% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <img src="/static/imgs/default.jpg" class="img-fluid poster-home " alt="...">
    </div>
    <div class="row">
        <div class="col mt-4">
            <h3> Maeun website idea :</h3>
            <p>Do you have an item that you do not use often and would like to share with someone who needs it for a while?

                Do you need an item for a short time because it is work and then you will not need this item?
                
                You can display your items for others to benefit from for a specific period, and you can also borrow an item for a specific period.</p>
        </div>
    </div>

</div>





{% endblock %}
