{% extends 'main/base.html' %}

{% block title %} My Favorites {% endblock %}


{% block content %}

<h6>Your cart -- ></h6>

        <div class="container_r">
            
            <div class="sidebar">
                <div class="head"><h3>My Cart</h3></div>
                {% for order in orders %}
                <div class='cart-item'>
                    <div class='row-img'>
                        <img class='rowimg' src={{order.product.product.url}}>
                    </div>
                    <h3 style='font-size:12px;'>{{ order.product.product_price}}</h3>
                    <h3 style='font-size:12px;'>{{ order.product.name}}</h3>
                    <h2 style='font-size: 15px; '>{{ order.product.price}}</h2>
                    <i class='fa-solid fa-trash' ><a href="{% url 'orders:delete_order_view' order.id  %}">delete</a></i>
                </div>
                {% endfor %}
                <div class="foot">
                    <h3>Total</h3>

                    

                    <h2 id="total">$ {{total}}</h2>
                </div>
            </div>


            <button type="button" class=" Payment fa-solid  h-100 " data-mdb-ripple-init><a href="{% url 'orders:pay_view' %}">Payment</button></a>
        </div>
        

{% endblock %}