{% extends 'main/base.html' %}

{% block title %} My order {% endblock %}


{% block content %}

<h6>Finish Order >> </h6>

<div class="container-x">

    <img class="true" src="/static/images/true.png" />
    <br><br>
    <h4 class="h4">Thank tou for ordering from Dream Home</h4>
    <h5 class="h5"> Your order number "2010621084" hes been completed successfully </h5>
    <br><br>
    <a href="{% url 'main:home_view' %}" ><button type="button" class="btn btn-outline-secondary h-50 w-50">Continue shopping</button></a>


</div>

{% endblock %}